Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

[devtool] Added beta-signoff.sh to automate the beta release process.
  scripts/beta-branchoff.sh
  scripts/beta-signoff.sh
  scripts/common.sh
Owners: none

[iOS] Fix getComponentRect of dom module. Rootview may be nil if fetched outside the block.
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
Owners: @cxfeng1

[iOS] Fix getComponentRect of dom module. Rootview may be nil if fetched outside the block. (#1433)
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
Owners: @cxfeng1

[WEEX-564][Android] fix check screen empty logic
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/common/WXJSExceptionInfo.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

[WEEX-564][Android] fix check screen empty logic (#1435)
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/common/WXJSExceptionInfo.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

[WEEX-558][Android] allow quotes inside the url of font file
  android/sdk/src/main/java/com/taobao/weex/utils/FontDO.java
Owners: @YorkShen

[WEEX-565][Android] do not set view's id if there is a id in this view
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @YorkShen

[WEEX-565][Android] do not set view's id if there is a id in this view (#1436)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @YorkShen

[WEEX-563][iOS] fix the attribute of linear-gradient on iOS (#1434)
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

[devtool] Added beta-signoff.sh to automate the beta release process. (#1432)
  scripts/beta-branchoff.sh
  scripts/beta-signoff.sh
  scripts/common.sh
Owners: none

* [iOS] update Weex Devtool's version
  ios/playground/Podfile
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
Owners: @cxfeng1

fix js process crash report error
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjsb.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/appfram/navigator/INavigator.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
  weex_core/Source/android/jsengine/multiprocess/WeexProxy.cpp
Owners: @YorkShen

[WEEX-548][iOS] Weex devtool can not debug recycle list (#1395)
  ios/playground/Podfile
  ios/playground/WeexDemo/Scanner/WXScannerVC.m
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
Owners: @cxfeng1

*[Android] Fix js process crash report error (#1438)
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjsb.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/appfram/navigator/INavigator.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
  weex_core/Source/android/jsengine/multiprocess/WeexProxy.cpp
Owners: @YorkShen

[WEEX-568][Android]Add Scan Delay Interface For AutoScanConfigRegister
  android/sdk/src/main/java/com/taobao/weex/ui/config/AutoScanConfigRegister.java
Owners: @YorkShen

[WEEX-568][Android]Add Scan Delay Interface For AutoScanConfigRegister (#1439)
  android/sdk/src/main/java/com/taobao/weex/ui/config/AutoScanConfigRegister.java
Owners: @YorkShen

[WEEX-566][Android] add jsb version file to make jsb.so can update
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXSoInstallMgrSdk.java
Owners: @YorkShen

[WEEX-566][Android] add jsb version file to make jsb.so can update (#1437)
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXSoInstallMgrSdk.java
Owners: @YorkShen

[WEEX-570][Android] add ut details add ut to track component and module register status Bug: WEEX-570
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
Owners: @YorkShen

[WEEX-571][iOS]peformance record, fix createInstance time in snandbox
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

[WEEX-566][Android] add jsb version file to make jsb.so can update
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXSoInstallMgrSdk.java
Owners: @YorkShen

Add libjavascriptcore.so
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi/libweexjsb.so
Owners: @YorkShen

merge detach jsc
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[WEEX-572][Android] calculate apm(newPerformance time) by use method SystemClock.uptimeMillis
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXPerformance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXUtils.java
Owners: @YorkShen

Add files to WeexSDK project.
  WeexSDK.podspec
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[WEEX-572][Android] calculate apm(newPerformance time) by use method SystemClock.uptimeMillis (#1444)
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXPerformance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXUtils.java
Owners: @YorkShen

[WEEX-569][iOS] fix degrade_error not report
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Protocol/WXApmProtocol.h
Owners: @cxfeng1

Fix compiler errors.
  weex_core/Source/base/message_loop/message_loop.cc
  weex_core/Source/base/thread/thread_impl_posix.h
  weex_core/Source/core/bridge/platform/core_side_in_platform.cpp
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
Owners: @YorkShen

[WEEX-573][iOS] try to solve transition's occasional crash
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

* [iOS] fix img dic (#1423)
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

[WEEX-571][iOS]peformance record, fix createInstance time in snandbox (#1443)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

[WEEX-573][iOS] try to solve transition's occasional crash (#1445)
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

[WEEX-569][iOS] fix degrade_error not report (#1440)
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Protocol/WXApmProtocol.h
Owners: @cxfeng1

* [android] Make header can recycled.
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXHeader.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/WXCell.java
Owners: @YorkShen

[core] fix compile error
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
Owners: @YorkShen

[WEEX-570][Android] add ut details (#1442)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
Owners: @YorkShen

* [android] Make header can recycled. (#1446)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXHeader.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/WXCell.java
Owners: @YorkShen

[core] fix ios compile error
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @cxfeng1, @YorkShen

[Core] Refactor, rename functions and add comments.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/View/WXComponent+PseudoClassManagement.m
Owners: @cxfeng1

[Core] Refactor, rename functions and add comments.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Module/WXPrerenderManager.m
  ios/sdk/WeexSDK/Sources/View/WXComponent+PseudoClassManagement.m
Owners: @cxfeng1

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
