Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

[core] data_render output error log
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  weex_core/Source/core/data_render/binary_file.cc
  weex_core/Source/core/data_render/common_error.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @cxfeng1, @YorkShen

[core] fix event invalid in opcode
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[core] opcode supprot big endian
  weex_core/Source/core/data_render/binary_file.cc
  weex_core/Source/core/data_render/binary_file.h
Owners: @YorkShen

[core] modify int to int32_t and unsigned to u_int32_t
  weex_core/Source/core/data_render/exec_state.cc
Owners: @YorkShen

[core] add argc in opcode
  weex_core/Source/core/data_render/exec_state.cc
Owners: @YorkShen

[core] fix bugs in data render mode (#1613)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  weex_core/Source/core/data_render/binary_file.cc
  weex_core/Source/core/data_render/binary_file.h
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/class_string.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/common_error.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/tokenizer.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @YorkShen, @cxfeng1

Fix typo: exsists
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
  weex_core/Source/android/utils/so_utils.cpp
Owners: @YorkShen

is not exist -> does not exist
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  ios/sdk/WeexSDK/Sources/Protocol/WXConfigCenterProtocol.h
  weex_core/Source/android/utils/so_utils.cpp
Owners: @YorkShen, @cxfeng1

degrade to h5 If create instance error
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

1.remove append '\0' 2.use string to take str from wtf 3.Add timerTask at the end of the queue 4. createInstance failed if string size is zero
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

degrade to h5 If create instance error (#1615)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

1.remove append '\0' 2.use string to take str from wtf 3.Add timerTask at the end of the queue 4. createInstance failed if string size is zero (#1616)
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[WEEX-638][Android] fix attacheCurrentThread crash (#1606)
  weex_core/Source/android/base/jni/android_jni.cpp
Owners: @YorkShen

* [android] Support miniapp debug (#1610)
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  weex_core/Source/android/wrap/wml_bridge.cpp
Owners: @YorkShen

[core] fix bugs in data render mode (#1613)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  weex_core/Source/core/data_render/binary_file.cc
  weex_core/Source/core/data_render/binary_file.h
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/class_string.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/common_error.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/tokenizer.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @YorkShen, @cxfeng1

degrade to h5 If create instance error (#1615)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[core] release char* to jni after using (#1612)
  weex_core/Source/android/base/string/string_utils.h
  weex_core/Source/android/wrap/wx_bridge.cpp
Owners: @YorkShen

[jsfm] decide whether to use promise polyfill by environment variable (#1609)
  runtime/shared/index.js
  runtime/shared/polyfill/promise.js
Owners: @Hanks10100

1.remove append '\0' 2.use string to take str from wtf 3.Add timerTask at the end of the queue 4. createInstance failed if string size is zero (#1616)
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[jsfm] upgrade js framework to v0.29.0 (#1611)
  android/sdk/assets/weex-main-jsfm.js
  package.json
  pre-build/weex-main-jsfm.js
Owners: @YorkShen

[iOS] Only use __enable_native_promise__ option when explicitly set in config.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

[iOS] Only use __enable_native_promise__ option when explicitly set in config. (#1617)
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

[iOS] Protect stream module arguments.
  ios/sdk/WeexSDK/Sources/Handler/WXURLRewriteDefaultImpl.m
  ios/sdk/WeexSDK/Sources/Module/WXStreamModule.m
Owners: @cxfeng1

[iOS] Add keyboardSize in "keyboard" event.
  ios/sdk/WeexSDK/Sources/Component/WXEditComponent.mm
Owners: @cxfeng1

[iOS] Protect stream module arguments. (#1619)
  ios/sdk/WeexSDK/Sources/Handler/WXURLRewriteDefaultImpl.m
  ios/sdk/WeexSDK/Sources/Module/WXStreamModule.m
Owners: @cxfeng1

[ios] fix crash when debug in chrome
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

[android] fix Android 4.3 scroll crash
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @YorkShen

[iOS] Add keyboardSize in "keyboard" event. (#1620)
  ios/sdk/WeexSDK/Sources/Component/WXEditComponent.mm
Owners: @cxfeng1

[iOS] Protect instance from being rendered twice.
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[iOS] Add keyboardSize in "keyboard" event. (#1620)
  ios/sdk/WeexSDK/Sources/Component/WXEditComponent.mm
Owners: @cxfeng1

[WEEX-642][iOS] fix wxpageRatio not report && report createInstaceContext failed info
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[WEEX-642][iOS] fix wxpageRatio not report && report createInstaceContext failed info (#1618)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[jsfm] manually revert destroy logic modification (#1529)
  runtime/vdom/Document.js
  runtime/vdom/Node.js
Owners: @Hanks10100

Fix instance double render (#1621)
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[jsfm] Revert the destroy logic modification in #1529 (#1622)
  runtime/vdom/Document.js
  runtime/vdom/Node.js
Owners: @Hanks10100

Print performance log in perf mode
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
Owners: @YorkShen

Catch Throwable to avoid huawei 500 boradcast crash
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
Owners: @YorkShen

Fix json class not found crash
  android/sdk/src/main/java/com/taobao/weex/ui/config/AutoScanConfigRegister.java
Owners: @YorkShen

fix npe
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionMoveElement.java
Owners: @YorkShen

[iOS] fix rax object leak.
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1
