Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

[Core] Rename functions.
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
Owners: @cxfeng1

[Core] Refactor. Delete weexcore C++ objects.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/render/manager/render_manager.cpp
  weex_core/Source/core/render/node/render_object.cpp
Owners: @cxfeng1, @YorkShen

[core] implement new expression
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/ast_visitor.h
  weex_core/Source/core/data_render/class.cc
  weex_core/Source/core/data_render/class.h
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/common_error.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/rax_jsx_ast.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/rax_parser.h
  weex_core/Source/core/data_render/statement.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/table.h
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_context.h
Owners: @YorkShen

[doc] Update the issue template on GitHub
  .github/ISSUE_TEMPLATE.md
Owners: none

[doc] Update spellings in the issue template
  .github/ISSUE_TEMPLATE.md
Owners: none

[core] fix data render createInstance
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

Fix gray top1 native crash
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
Owners: @YorkShen

[core] Adjust the directory structure
  weex_core/Source/CMakeLists.txt
  weex_core/Source/android/bridge/impl/android_bridge.cpp
  weex_core/Source/android/bridge/impl/android_bridge.h
  weex_core/Source/android/bridge/impl/android_bridge_in_multi_process.cc
  weex_core/Source/android/bridge/impl/android_bridge_in_multi_process.h
  weex_core/Source/android/bridge/impl/android_bridge_in_multi_so.cc
  weex_core/Source/android/bridge/impl/android_bridge_in_multi_so.h
  weex_core/Source/android/bridge/impl/android_side.cpp
  weex_core/Source/android/bridge/impl/android_side.h
  weex_core/Source/android/bridge/impl/content_box_measurement_impl_android.cpp
  weex_core/Source/android/bridge/impl/content_box_measurement_impl_android.h
  weex_core/Source/android/bridge/impl/core_side_in_multi_process.cpp
  weex_core/Source/android/bridge/impl/core_side_in_multi_process.h
  weex_core/Source/android/bridge/impl/core_side_in_multi_so.cpp
  weex_core/Source/android/bridge/impl/core_side_in_multi_so.h
  weex_core/Source/android/bridge/impl/jsfunction_impl_android.cpp
  weex_core/Source/android/bridge/impl/jsfunction_impl_android.h
  weex_core/Source/android/bridge/impl/measure_mode_impl_android.cpp
  weex_core/Source/android/bridge/impl/measure_mode_impl_android.h
  weex_core/Source/android/bridge/impl/multi_process_and_so_initializer.cpp
  weex_core/Source/android/bridge/impl/multi_process_and_so_initializer.h
  weex_core/Source/android/bridge/impl/multi_so_initializer.cpp
  weex_core/Source/android/bridge/impl/multi_so_initializer.h
  weex_core/Source/android/bridge/impl/native_render_object_utils_impl_android.cpp
  weex_core/Source/android/bridge/impl/native_render_object_utils_impl_android.h
  weex_core/Source/android/jniprebuild/jni_load.cc
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/core/bridge/script/script_side_in_multi_process.cpp
  weex_core/Source/core/bridge/script/script_side_in_multi_process.h
  weex_core/Source/core/bridge/script/script_side_in_multi_so.cpp
  weex_core/Source/core/bridge/script/script_side_in_multi_so.h
  weex_core/Source/core/bridge/script_bridge_in_multi_process.cpp
  weex_core/Source/core/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/core/layout/measure_func_adapter_impl_android.h
  weex_core/Source/core/layout/measure_func_adapter_impl_ios.h
Owners: @YorkShen

[core] fix wxbridge initParams crash
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/wrap/wx_bridge.cpp
Owners: @YorkShen

[core] add miss file
  weex_core/Source/android/bridge/multi_process_and_so_initializer.cpp
  weex_core/Source/android/bridge/multi_process_and_so_initializer.h
  weex_core/Source/android/bridge/multi_so_initializer.cpp
  weex_core/Source/android/bridge/multi_so_initializer.h
  weex_core/Source/android/bridge/platform/android_bridge.cpp
  weex_core/Source/android/bridge/platform/android_bridge.h
  weex_core/Source/android/bridge/platform/android_bridge_in_multi_process.cc
  weex_core/Source/android/bridge/platform/android_bridge_in_multi_process.h
  weex_core/Source/android/bridge/platform/android_bridge_in_multi_so.cc
  weex_core/Source/android/bridge/platform/android_bridge_in_multi_so.h
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/bridge/platform/android_side.h
  weex_core/Source/android/bridge/platform/core_side_in_multi_process.cpp
  weex_core/Source/android/bridge/platform/core_side_in_multi_process.h
  weex_core/Source/android/bridge/platform/core_side_in_multi_so.cpp
  weex_core/Source/android/bridge/platform/core_side_in_multi_so.h
  weex_core/Source/android/bridge/script/script_side_in_multi_process.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_process.h
  weex_core/Source/android/bridge/script/script_side_in_multi_so.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_so.h
  weex_core/Source/android/wrap/content_box_measurement_impl_android.cpp
  weex_core/Source/android/wrap/content_box_measurement_impl_android.h
  weex_core/Source/android/wrap/jsfunction_impl_android.cpp
  weex_core/Source/android/wrap/jsfunction_impl_android.h
  weex_core/Source/android/wrap/measure_mode_impl_android.cpp
  weex_core/Source/android/wrap/measure_mode_impl_android.h
  weex_core/Source/android/wrap/native_render_object_utils_impl_android.cpp
  weex_core/Source/android/wrap/native_render_object_utils_impl_android.h
Owners: @YorkShen

[WEEX-556][iOS] Fix video play state is not 'play' while set autoplay to true
  ios/sdk/WeexSDK/Sources/Component/WXVideoComponent.m
Owners: @cxfeng1

[WEEX-556][iOS] Fix video play state is not 'play' while set autoplay to true (#1418)
  ios/sdk/WeexSDK/Sources/Component/WXVideoComponent.m
Owners: @cxfeng1

[core] Fixed Member Access And Caller Args Can't Continuous
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vm.h
Owners: @YorkShen

[core] ValueRef And SetClassVar OK
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[Core] Refactor. JSON type converting.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Bridge/wson/WsonObject.h
  ios/sdk/WeexSDK/Sources/Bridge/wson/WsonObject.m
  ios/sdk/WeexSDK/Sources/Bridge/wson/WsonParser.h
  ios/sdk/WeexSDK/Sources/Bridge/wson/WsonParser.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
  weex_core/Source/core/bridge/js_bridge.cpp
Owners: @cxfeng1, @YorkShen

[WEEX-558][Android] Font file url is compatible with single quotes and double quotes
  android/sdk/src/main/java/com/taobao/weex/utils/FontDO.java
Owners: @YorkShen

[core] Fixed Class Demo
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[core] final fixed rax js ok
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/table.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[WEEX-559][iOS]Fix issue that handleAppear should be resent for lazily created scrollview.
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

[jsfm] upgrade js framework to v0.27.5
  android/sdk/assets/weex-main-jsfm.js
  android/sdk/assets/weex-rax-api.js
  package.json
  pre-build/weex-main-jsfm.js
  pre-build/weex-rax-api.js
Owners: @YorkShen

[WEEX-559][iOS]Fix issue that handleAppear should be resent for lazily created scrollview. (#1420)
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

* [Android] Fx
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/WXListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
Owners: @YorkShen

* [Android] Fix the spell issue.
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/WXListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
Owners: @YorkShen

* [Android] Fix invalid column count of list/vlist/waterfall/recycler (#1421)
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/WXListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
Owners: @YorkShen

[WEEX-560][Android] fix null point of apm && report initJSFM fail info (#1422)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
Owners: @YorkShen

* [iOS] fix img dic
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

* [Android] Fix the spell issue.
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/WXListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
Owners: @YorkShen

* [Android] Fix the spell issue. (#1424)
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/WXListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
Owners: @YorkShen

* [android] Report TextureView doesn't support displaying a background drawable
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXViewUtils.java
Owners: @YorkShen

* [android] Fix errorcode
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
Owners: @YorkShen

[WEEX-562][Android] task may be null ,should be check ,not try/catch
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[WEEX-562][Android] task may be null ,should be check ,not try/catch (#1425)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[jsfm] upgrade js framework to v0.27.5 (#1417)
  android/sdk/assets/weex-main-jsfm.js
  android/sdk/assets/weex-rax-api.js
  package.json
  pre-build/weex-main-jsfm.js
  pre-build/weex-rax-api.js
Owners: @YorkShen

* [Android] Fix duplicate resource name.
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
  android/sdk/src/main/res/drawable/weex_error.png
Owners: @YorkShen

[WEEX-548][iOS] Weex devtool can not debug recycle list
  ios/playground/Podfile
  ios/playground/WeexDemo/Scanner/WXScannerVC.m
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
Owners: @cxfeng1

* [android] Update libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

* [android] Report TextureView doesn't support displaying a background drawable (#1426)
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXViewUtils.java
Owners: @YorkShen

* [android] Update libweexcore.so (#1429)
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

[WEEX-563][iOS] fix the attribute of linear-gradient on iOS
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

[doc] Update the issue template on GitHub (#1416)
  .github/ISSUE_TEMPLATE.md
Owners: none

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
