Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @wqyfavor, @gubaojian, @Darin726, @Hanks10100, @alwaysfight

Fixed minor grammatical errors and typos. (#1832)
  HOW-TO-BUILD.md
Owners: @YorkShen, @wqyfavor

*[Android] interaction position for fix element
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @gubaojian, @YorkShen, @Darin726

* [Android] interaction position for fixed element (#1839)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @gubaojian, @YorkShen, @Darin726

Update libweexjss to fix jsc thread deaclock
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @gubaojian, @YorkShen, @Darin726

[eagle] support binding style and computed
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[eagle] fix bugs
  weex_core/Source/core/bridge/platform/core_side_in_platform.cpp
  weex_core/Source/core/data_render/vnode/android/vnode_on_event_listener.cc
Owners: @YorkShen

[Android] fix update styles bug when only border change
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionUpdateStyle.java
Owners: @gubaojian, @YorkShen, @Darin726

[Android] do not set the same text repeatedly
  android/sdk/src/main/java/com/taobao/weex/ui/component/AbstractEditComponent.java
Owners: @gubaojian, @YorkShen, @Darin726

[WEEX-661][iOS] update for weex dev-tool
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Bridge/WXModuleMethod.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter+Transfer.h
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter.h
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter.m
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @wqyfavor

[WEEX-671][iOS] `extendCallNative` method move to instance jscontext
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
Owners: @wqyfavor

*[Android] weex performance optimization
  android/commons/src/main/java/com/alibaba/weex/commons/adapter/BlurTool.java
  android/commons/src/main/java/com/alibaba/weex/commons/adapter/JSExceptionAdapter.java
  android/playground/app/src/main/java/com/alibaba/weex/extend/module/location/DefaultLocation.java
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKEngine.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/adapter/IWXUserTrackAdapter.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXText.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXModalUIModule.java
  android/sdk/src/main/java/com/taobao/weex/utils/TypefaceUtil.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXSoInstallMgrSdk.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXUtils.java
Owners: @gubaojian, @YorkShen, @Darin726

[Android] fix boxshadow not change size when view size changed
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
Owners: @gubaojian, @YorkShen, @Darin726

*[Android] weex performance optimization (#1844)
  android/commons/src/main/java/com/alibaba/weex/commons/adapter/BlurTool.java
  android/commons/src/main/java/com/alibaba/weex/commons/adapter/JSExceptionAdapter.java
  android/playground/app/src/main/java/com/alibaba/weex/extend/module/location/DefaultLocation.java
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKEngine.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/adapter/IWXUserTrackAdapter.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXText.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXModalUIModule.java
  android/sdk/src/main/java/com/taobao/weex/utils/TypefaceUtil.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXSoInstallMgrSdk.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXUtils.java
Owners: @gubaojian, @YorkShen, @Darin726

[WEEX-671][iOS] `extendCallNative` method move to instance jscontext (#1843)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
Owners: @wqyfavor

Support x86
  android/sdk/libs/x86/libweexjss.so
Owners: @gubaojian, @YorkShen, @Darin726

Update libweexjss to fix jsc thread deaclock (#1840)
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/libs/x86/libweexjss.so
Owners: @gubaojian, @YorkShen, @Darin726

[WEEX-661][iOS] update for weex dev-tool (#1751)
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Bridge/WXModuleMethod.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter+Transfer.h
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter.h
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter.m
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @wqyfavor

[iOS] Fix keep-scroll-position property not work if cell height is not integer。
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
Owners: @wqyfavor

[iOS] Fix keep-scroll-position property not work if cell height is not integer。 (#1845)
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
Owners: @wqyfavor

* [iOS] fix sdk build error, ignored "-Wundeclared-selector"
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter.m
Owners: @wqyfavor

.github/CODEOWNERS:

* @YorkShen @wqyfavor

/android/ @gubaojian @YorkShen @Darin726

/ios/ @wqyfavor

/runtime/ @Hanks10100

/weex_core/ @YorkShen @Darin726 @alwaysfight

/weex_core/Source/core/ @YorkShen
