Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

[android] 还原打包脚本的release配置
  android/sdk/build.gradle
Owners: @YorkShen

[jsfm] upgrade js framework to v0.27.6 | remove Object.create(null) (#1449)
  android/sdk/assets/weex-main-jsfm.js
  package.json
  pre-build/weex-main-jsfm.js
  runtime/api/WeexInstance.js
Owners: @YorkShen, @Hanks10100

[jsfm] upgrade js framework to v0.27.8
  android/sdk/assets/weex-main-jsfm.js
  package.json
  pre-build/weex-main-jsfm.js
Owners: @YorkShen

add check for file path pointer
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
Owners: @YorkShen

[jsfm] upgrade js framework to v0.27.8 (#1463)
  android/sdk/assets/weex-main-jsfm.js
  package.json
  pre-build/weex-main-jsfm.js
Owners: @YorkShen

[WEEX-587][iOS] excpetion report fix
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXInstanceApm.m
Owners: @cxfeng1

* [Android] add extInfo for instance
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionCreateFinish.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

https://issues.apache.org/jira/browse/WEEX-589 [WEEX-589][Android] change weex run mode run weex in multiprogress only Bug: WEEX-589
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
  weex_core/Source/android/jsengine/multiprocess/WeexProxy.cpp
Owners: @YorkShen

https://issues.apache.org/jira/browse/WEEX-589 [WEEX-589][Android] change weex run mode run weex in multiprogress only Bug: WEEX-589
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
  weex_core/Source/android/jsengine/multiprocess/WeexProxy.cpp
Owners: @YorkShen

* [Android] add extInfo for instance
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionCreateFinish.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

[Android] fix ListComponent pagingEnabled bug
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
Owners: @YorkShen

[Android] Add setTextColor for WXTextView
  android/sdk/src/main/java/com/taobao/weex/ui/view/WXTextView.java
Owners: @YorkShen

[WEEX-587][iOS] excpetion report fix (#1469)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXInstanceApm.m
Owners: @cxfeng1

add check for file path pointer
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
Owners: @YorkShen

[WEEX-586][Android]WXEmbed Support Listen scroll scrollEnd scrollStart Event
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/instance/InstanceOnFireEventInterceptor.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
Owners: @YorkShen

[WEEX-586][Android]WXEmbed Support Listen scroll scrollEnd scrollStart Event
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/instance/InstanceOnFireEventInterceptor.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
Owners: @YorkShen

* [Android] Fix duplicate resource name. (#1427)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
  android/sdk/src/main/res/drawable/weex_error.png
Owners: @YorkShen

[WEEX-590][Android] add more info to report
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

[WEEX-590][Android] add more info to report (#1470)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

Trace libjavascriptso not found
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXFileUtils.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXSoInstallMgrSdk.java
Owners: @YorkShen

Update so link path
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXSoInstallMgrSdk.java
  weex_core/Source/android/bridge/multi_so_initializer.cpp
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
  weex_core/Source/android/utils/params_utils.cpp
  weex_core/Source/android/utils/so_utils.cpp
  weex_core/Source/android/utils/so_utils.h
Owners: @YorkShen

remove LOGE, some condition use LOGD
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
Owners: @YorkShen

[WEEX-591][Android] fix interaction logic
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionMoveElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionRemoveElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

[WEEX-591][Android] fix interaction logic (#1471)
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionMoveElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionRemoveElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

multi progress
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
  weex_core/Source/android/utils/params_utils.cpp
Owners: @YorkShen

[core] Fixed Build OK
  weex_core/Source/core/bridge/bridge.cpp
  weex_core/Source/core/bridge/js_bridge.cpp
  weex_core/Source/core/data_render/monitor/vm_monitor.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/render/manager/render_manager.cpp
  weex_core/Source/core/render/manager/render_manager.h
Owners: @YorkShen

[core] fixed build link error
  weex_core/Source/core/render/manager/render_manager.cpp
Owners: @YorkShen

MultiProgress gray
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[WEEX-592][iOS] fix dic for-each read crash
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
Owners: @cxfeng1

[Core] Refactor. Fix JSDebug with devtool.
  ios/playground/Podfile
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
Owners: @cxfeng1

[Core] Refactor. Add data render files.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  weex_core/Source/core/data_render/object.h
Owners: @cxfeng1, @YorkShen

[WEEX-593][iOS]image can not show correct borderRadius
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

[core] fixed build ios link error
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/monitor/vm_monitor.h
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/render/manager/render_manager.cpp
Owners: @YorkShen

[WEEX-595][Android]improvement apm monitor
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionCreateBody.java
Owners: @YorkShen

Fix native npe and add all link library path
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
  weex_core/Source/android/bridge/multi_so_initializer.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_process.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_so.cpp
  weex_core/Source/android/utils/params_utils.cpp
  weex_core/Source/android/utils/so_utils.cpp
  weex_core/Source/android/utils/so_utils.h
Owners: @YorkShen

[WEEX-595][Android]improvement apm monitor (#1474)
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionCreateBody.java
Owners: @YorkShen

Update gcc jsc
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjsb.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[core] fixed ios build error
  ios/sdk/WeexSDK.xcodeproj/xcshareddata/xcschemes/WeexSDK.xcscheme
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  weex_core/Source/base/LogDefines.h
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/monitor/vm_monitor.h
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @cxfeng1, @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
Owners: @YorkShen
