Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

[iOS][BugFix] Fix the UICollectionView Bad Access Crash under system 10.0.
  ios/sdk/WeexSDK/Sources/Component/Recycler/WXMultiColumnLayout.h
  ios/sdk/WeexSDK/Sources/Component/Recycler/WXMultiColumnLayout.m
  ios/sdk/WeexSDK/Sources/Component/Recycler/WXRecyclerComponent.mm
Owners: @cxfeng1

[iOS][CodeStyle]Code style format
  ios/sdk/WeexSDK/Sources/Component/Recycler/WXMultiColumnLayout.h
  ios/sdk/WeexSDK/Sources/Component/Recycler/WXMultiColumnLayout.m
  ios/sdk/WeexSDK/Sources/Component/Recycler/WXRecyclerComponent.mm
Owners: @cxfeng1

[LICENSE] Fix the issue that not abiding by the terms of the MIT license as a copy of the license text isn’t being included in the release
  LICENSE
Owners: none

[WEEX-609][iOS]apm monitor logic modify
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/WXEmbedComponent.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

* [android] Update jsfuntion
  weex_core/Source/android/wrap/jsfunction_impl_android.cpp
Owners: @YorkShen

[Core] Refactor. Adapt for a speical layout case. Multiple vertical flex lists inside a horizontal scroller.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/bridge/platform/android_side.h
  weex_core/Source/core/bridge/platform_bridge.h
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/render/manager/render_manager.cpp
  weex_core/Source/core/render/manager/render_manager.h
  weex_core/Source/core/render/node/render_object.cpp
  weex_core/Source/core/render/node/render_object.h
  weex_core/Source/core/render/page/render_page.cpp
  weex_core/Source/core/render/page/render_page.h
Owners: @cxfeng1, @YorkShen

[Core] Refactor. Protect for nullptr to std::string cast.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
Owners: @cxfeng1

[WEEX-608][Android] apm monitor logic modify
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
Owners: @YorkShen

[Core] Refactor. Cannot add invalid component to list.
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
Owners: @cxfeng1

[WEEX-608][Android] apm monitor logic modify (#1506)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
Owners: @YorkShen

[Core] Refactor. Fix appbar render bug on iOS.
  weex_core/Source/core/render/node/render_appbar.cpp
Owners: @YorkShen

[WEEX-609][iOS]apm monitor logic modify (#1505)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/WXEmbedComponent.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[WEEX-609][iOS]apm monitor logic modify (#1505)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/WXEmbedComponent.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[Core] Refactor. Handle "margin/padding/borderWidth" beforehand.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
Owners: @cxfeng1

Support page_zise
  android/sdk/src/main/java/com/taobao/weex/common/Constants.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/WXListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/WXPagerSnapHelper.java
Owners: @YorkShen

修改layoutEngine
  weex_core/Source/core/layout/flex_enum.h
  weex_core/Source/core/layout/layout.cpp
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/layout/style.cpp
  weex_core/Source/core/layout/style.h
Owners: @YorkShen

* [android] Error code classification.
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionAddElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionAddEvent.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionCreateFinish.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionMoveElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponentFactory.java
Owners: @YorkShen

* [Android] Add contentMD5Match back.
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[Core] Refactor. Vsync should be retriggered on iOS.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  weex_core/Source/CMakeLists.txt
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/bridge/platform/android_side.h
  weex_core/Source/core/bridge/platform_bridge.h
  weex_core/Source/core/render/action/render_action_trigger_vsync.cpp
  weex_core/Source/core/render/action/render_action_trigger_vsync.h
  weex_core/Source/core/render/page/render_page.cpp
Owners: @cxfeng1, @YorkShen

Support scroller pageEnable and pageSize attr
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXScroller.java
Owners: @YorkShen

Fix java.util.ConcurrentModificationException
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/StickyHeaderHelper.java
Owners: @YorkShen

[WEEX-518][android] JVM garbage collection took too long
  android/sdk/src/main/java/com/taobao/weex/utils/WXFileUtils.java
Owners: @YorkShen

[iOS] Fix crash WXRecycleSliderScrollView.delegate may not responds to @selector(wx_component)
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
Owners: @cxfeng1

[iOS] Fix crash WXRecycleSliderScrollView.delegate may not responds to @selector(wx_component)
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
Owners: @cxfeng1

打包成功
  android/sdk/build.gradle
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/render/node/factory/render_object_interface.h
  weex_core/Source/core/render/node/render_list.cpp
  weex_core/Source/core/render/node/render_list.h
  weex_core/Source/core/render/node/render_object.cpp
  weex_core/Source/core/render/node/render_scroller.cpp
  weex_core/Source/core/render/node/render_scroller.h
  weex_core/release.sh
Owners: @YorkShen

Fix regist too many Broadcast Receivers
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
Owners: @YorkShen

fix light app postmessage error
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Android can rtl，but has crash
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/jni/NativeRenderObjectUtils.java
  weex_core/Source/android/bridge/impl/native_render_object_utils_impl_android.cpp
  weex_core/Source/android/jniprebuild/jniheader/NativeRenderObjectUtils_jni.h
  weex_core/Source/core/css/constants_name.h
  weex_core/Source/core/css/constants_value.h
  weex_core/Source/core/css/css_value_getter.cpp
  weex_core/Source/core/css/css_value_getter.h
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/render/node/render_object.cpp
  weex_core/debug.sh
Owners: @YorkShen

Fix java.lang.ArrayIndexOutOfBoundsException
  android/sdk/src/main/java/com/taobao/weex/utils/batch/BatchOperationHelper.java
Owners: @YorkShen

fix android ptr crash
  weex_core/Source/core/layout/layout.h
Owners: @YorkShen

fix android,can't render list bug
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/render/node/render_object.cpp
Owners: @YorkShen

Use arraylist
  android/sdk/src/main/java/com/taobao/weex/utils/batch/BatchOperationHelper.java
Owners: @YorkShen

* [android] Add resetBridge
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXJsFunctions.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXJsFunctions.java
  weex_core/Source/android/jniprebuild/jniheader/WXBridge_jni.h
  weex_core/Source/android/jniprebuild/jniheader/WXJsFunctions_jni.h
  weex_core/Source/android/wrap/jsfunction_impl_android.cpp
  weex_core/Source/android/wrap/wx_bridge.cpp
Owners: @YorkShen

[WEEX-611][Android] Fix java.lang.ArrayIndexOutOfBoundsException arrayList is not thread safe, if arraylist add item in multithread may produce ArrayIndexOutOfBoundsException Bug: WEEX-611
  android/sdk/src/main/java/com/taobao/weex/utils/batch/BatchOperationHelper.java
Owners: @YorkShen

[Core] Refactor. Delete unused files.
  ios/sdk/WeexSDK/Sources/Layout/WXLayoutConstraint.h
  ios/sdk/WeexSDK/Sources/Layout/WXLayoutConstraint.m
Owners: @cxfeng1

[WEEX-611][Android] Fix java.lang.ArrayIndexOutOfBoundsException (#1511)
  android/sdk/src/main/java/com/taobao/weex/utils/batch/BatchOperationHelper.java
Owners: @YorkShen

* [android] Fix WX_RENDER_ERR_COMPONENT_NOT_REGISTER and WX_RENDER_ERR_BRIDGE_ARG_NULL to Native_ERROR
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
Owners: @YorkShen

* [android] Make devtool callNativeModule return object.
  weex_core/Source/android/wrap/jsfunction_impl_android.cpp
Owners: @YorkShen

[Core] Refactor. Avoid NAN cell height.
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
Owners: @cxfeng1

[Core] Refactor. Delete unused files.
  ios/sdk/WeexSDK/Sources/Layout/WXLayoutConstraint.h
  ios/sdk/WeexSDK/Sources/Layout/WXLayoutConstraint.m
Owners: @cxfeng1
