Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

[core] fix random jsx compile error， remember bool class member default value must be set！
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/rax_jsx_ast.h
Owners: @YorkShen

[Core] Update project for deleted files.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[Core] Update project for deleted files.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[core] update cmakelist for delete file
  weex_core/Source/CMakeLists.txt
Owners: @YorkShen

[core] fix cmakelist error
  weex_core/Source/CMakeLists.txt
Owners: @YorkShen

[iOS] Turn off clang_warn_comma.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

Update libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/wrap/jsfunction_impl_android.cpp
Owners: @YorkShen

[core] support data and props in component parse, support vcomponent
  weex_core/Source/CMakeLists.txt
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vcomponent.cc
  weex_core/Source/core/data_render/vnode/vcomponent.h
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_context.cc
  weex_core/Source/core/data_render/vnode/vnode_render_context.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @YorkShen

[core] fix ios compile error
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vcomponent.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @cxfeng1, @YorkShen

[Core] Refactor. Remove pixel value rounding on iOS.
  weex_core/Source/base/ViewUtils.h
Owners: @YorkShen

[Core] Refactor. Remove pixel value rounding on iOS. Using MACRO.
  weex_core/Source/base/ViewUtils.h
Owners: @YorkShen

[Core] Refactor. Remove subcomponents from _indexDict and unbind them on removeComponent action.
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Events/WXComponent+Events.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
Owners: @cxfeng1

Fix light app lose double data
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/wrap/wml_bridge.cpp
Owners: @YorkShen

[WEEX-606][Android]fix monitor data
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/common/WXJSExceptionInfo.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

[iOS] Do not print _rootView.frame in description which may cause deadlock.
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[WEEX-606][Android]fix monitor data (#1497)
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/common/WXJSExceptionInfo.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

[WEEX-606][Android]fix monitor data (#1497)
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  android/sdk/src/main/java/com/taobao/weex/common/WXJSExceptionInfo.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

[iOS] Optimize scroller paging effect.
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

[ios] fix page cant show error
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
Owners: @cxfeng1

* [Android] ADD wxBodyRatio
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
Owners: @YorkShen

contact transform
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/View/WXComponent+ViewManagement.mm
Owners: @cxfeng1

[Core] Refactor. Fix layout.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Component/WXEditComponent.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
Owners: @cxfeng1

* [android] Fix image network handler
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
Owners: @YorkShen

[WEEX-607][iOS] [weex monitor improvement
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[WEEX-607][iOS] [weex monitor improvement
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

* [iOS] edit img size monitor
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

[core] add utf16 to utf8 util
  weex_core/Source/base/string_util.h
  weex_core/Source/core/bridge/platform/core_side_in_platform.cpp
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] unordered_map insert do not cover exsited key
  weex_core/Source/core/data_render/object.h
Owners: @YorkShen

[WEEX-607][iOS] [weex monitor improvement (#1500)
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXAnalyzerCenter.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[WEEX-264] resolve the crash of waterfall component
  ios/sdk/WeexSDK/Sources/Component/Recycler/WXMultiColumnLayout.m
Owners: @cxfeng1

[Core] Refactor. Fix refreshInstance method. WHY change 'data' to '[WXUtility JSONString:data]' without any code review!
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[Core] Build issues.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  weex_core/Source/base/string_util.h
  weex_core/Source/core/data_render/vm.cc
Owners: @cxfeng1, @YorkShen

[ios] fix data render refreshInstance
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

[Core] Refactor. NSNull pass to weexcore.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
Owners: @cxfeng1

[Core] Refactor. Add safeContainerStyleWidth.
  ios/sdk/WeexSDK/Sources/Component/Recycler/WXRecyclerComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.h
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
Owners: @cxfeng1

[android] fix buile compile error
  weex_core/Source/base/string_util.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

* [android] weexcore jsfunction bugfix : devtool
  android/sdk/src/main/java/com/taobao/weex/bridge/WXJsFunctions.java
  weex_core/Source/android/wrap/jsfunction_impl_android.cpp
Owners: @YorkShen

[Core] Refactor. Fix waterfall cell layout.
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
Owners: @cxfeng1

fixed fiexdpostion bug,fixed flex-wrap bug
  ios/playground/WeexDemo/WXDemoViewController.m
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Layout/WXCoreLayout.cpp
  ios/sdk/WeexSDK/Sources/Module/WXAnimationModule.m
Owners: @cxfeng1

Update so fix component method unwork
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/wrap/wx_bridge.cpp
Owners: @YorkShen

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
