Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

[iOS] fix data render in renderview interface (#1559)
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

* [android] Add deviation to meta
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  weex_core/Source/base/ViewUtils.h
  weex_core/Source/core/css/constants_name.h
  weex_core/Source/core/css/constants_value.h
  weex_core/Source/core/render/manager/render_manager.cpp
  weex_core/Source/core/render/manager/render_manager.h
  weex_core/Source/core/render/node/render_object.cpp
  weex_core/Source/core/render/page/render_page.h
Owners: @YorkShen

* [android] Add deviation to meta (#1561)
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  weex_core/Source/base/ViewUtils.h
  weex_core/Source/core/css/constants_name.h
  weex_core/Source/core/css/constants_value.h
  weex_core/Source/core/render/manager/render_manager.cpp
  weex_core/Source/core/render/manager/render_manager.h
  weex_core/Source/core/render/node/render_object.cpp
  weex_core/Source/core/render/page/render_page.h
Owners: @YorkShen

[jsfm] revert 0.28 (#1536), downgrade to 0.27.8
  android/sdk/assets/weex-main-jsfm.js
  android/sdk/assets/weex-rax-api.js
  package.json
  pre-build/weex-main-jsfm.js
  pre-build/weex-rax-api.js
Owners: @YorkShen

[iOS] Remove object from ref map after delete.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  weex_core/Source/core/render/page/render_page.h
Owners: @cxfeng1, @YorkShen

[iOS] Remove object from ref map after delete. (#1563)
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  weex_core/Source/core/render/page/render_page.h
Owners: @cxfeng1, @YorkShen

[iOS] Fix animation module crash if node ref is invalid.
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Module/WXAnimationModule.m
Owners: @cxfeng1

[iOS] Fix core text object leaks.
  ios/sdk/WeexSDK/Sources/Component/WXTextComponent.mm
Owners: @cxfeng1

[Core] Fix events_ object leak of render object.
  weex_core/Source/core/render/node/render_object.cpp
Owners: @YorkShen

[iOS] Fix severe memory leak of data binding expression objects.
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXJSASTParser.h
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXJSASTParser.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

[iOS] Fix JSValue toDictionary returns dictionary with retain-cycle and cause memory leak.
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

[iOS] No task committed to bridge thread if we do not log to websocket.
  ios/sdk/WeexSDK/Sources/Utility/WXLog.m
Owners: @cxfeng1

[WEEX-628][Android] add jsframework load adapter add jsframework load adapter Bug: WEEX-628
  android/sdk/src/main/java/com/taobao/weex/InitConfig.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKEngine.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKManager.java
  android/sdk/src/main/java/com/taobao/weex/adapter/IWXJsFileLoaderAdapter.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[WEEX-629][iOS] fix report firstScreenRenderTime failed
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
Owners: @cxfeng1

[jsfm] revert 0.28 (#1536), downgrade to 0.27.8 (#1562)
  android/sdk/assets/weex-main-jsfm.js
  android/sdk/assets/weex-rax-api.js
  package.json
  pre-build/weex-main-jsfm.js
  pre-build/weex-rax-api.js
Owners: @YorkShen

[iOS] Protect for nil NSString*.
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

Fix leaks crashes 0927 (#1566)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXJSASTParser.h
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXJSASTParser.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXTextComponent.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/Module/WXAnimationModule.m
  ios/sdk/WeexSDK/Sources/Utility/WXLog.m
  weex_core/Source/core/render/node/render_object.cpp
Owners: @cxfeng1, @YorkShen

[WEEX-629][iOS] fix report firstScreenRenderTime failed (#1567)
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
Owners: @cxfeng1

[WEEX-628][Android] add jsframework load adapter (#1568)
  android/sdk/src/main/java/com/taobao/weex/InitConfig.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKEngine.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKManager.java
  android/sdk/src/main/java/com/taobao/weex/adapter/IWXJsFileLoaderAdapter.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[Core] Build error on iOS.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  weex_core/Source/core/render/node/render_document.cpp
  weex_core/Source/core/render/page/render_page.cpp
Owners: @cxfeng1, @YorkShen

[Core] Build error on iOS. (#1569)
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  weex_core/Source/core/render/node/render_document.cpp
  weex_core/Source/core/render/page/render_page.cpp
Owners: @cxfeng1, @YorkShen

[core] bugfix kAssignAdd, register error, replace all, fuction args less can't reset nil error
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/rax_parser.cc
Owners: @YorkShen

[core] bugfix search three cards
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @YorkShen

[core] bugfix refresh dom diff error , add node_id to ref event, ref_id to dom diff
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[data_render] rax android sup fixup for event and module
  android/playground/app/build.gradle
  android/playground/app/src/main/assets/lite_template/card.wasm
  android/playground/app/src/main/assets/lite_template/case.js
  android/playground/app/src/main/assets/lite_template/case.json
  android/playground/app/src/main/java/com/alibaba/weex/SliceTestActivity.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  weex_core/Source/android/jniprebuild/jniheader/WXBridge_jni.h
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/render/action/render_action_call_native_module.cpp
Owners: @YorkShen

[core][Android] fix vue template invalidate as the same node id
  android/sdk/src/main/java/com/taobao/weex/adapter/IWXJsFileLoaderAdapter.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] fix ios sdk compile error
  weex_core/Source/core/render/action/render_action_call_native_module.cpp
Owners: @YorkShen

[core] rm render_action_callnativemodule
  weex_core/Source/CMakeLists.txt
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/render/action/render_action_call_native_module.cpp
  weex_core/Source/core/render/action/render_action_call_native_module.h
  weex_core/Source/core/render/manager/render_manager.cpp
  weex_core/Source/core/render/page/render_page.cpp
Owners: @YorkShen

[iOS] remove render_action_call_native_module.cpp in sdk
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[core] call LayoutInner on iOS platform
  weex_core/Source/core/render/page/render_page.cpp
Owners: @YorkShen

[WEEX-630] [core] fix data render dom diff error (#1570)
  android/playground/app/build.gradle
  android/playground/app/src/main/assets/lite_template/card.wasm
  android/playground/app/src/main/assets/lite_template/case.js
  android/playground/app/src/main/assets/lite_template/case.json
  android/playground/app/src/main/java/com/alibaba/weex/SliceTestActivity.java
  android/sdk/src/main/java/com/taobao/weex/adapter/IWXJsFileLoaderAdapter.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  weex_core/Source/CMakeLists.txt
  weex_core/Source/android/jniprebuild/jniheader/WXBridge_jni.h
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
  weex_core/Source/core/render/action/render_action_call_native_module.cpp
  weex_core/Source/core/render/action/render_action_call_native_module.h
  weex_core/Source/core/render/manager/render_manager.cpp
  weex_core/Source/core/render/page/render_page.cpp
Owners: @YorkShen, @cxfeng1

[iOS] Protect animation module.
  ios/sdk/WeexSDK/Sources/Module/WXAnimationModule.m
Owners: @cxfeng1

[core] fix render list gap problem
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
  weex_core/Source/core/render/node/render_list.cpp
Owners: @YorkShen

[core] fix render list gap problem (#1571)
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
  weex_core/Source/core/render/node/render_list.cpp
Owners: @YorkShen

[iOS] Protect animation module. (#1572)
  ios/sdk/WeexSDK/Sources/Module/WXAnimationModule.m
Owners: @cxfeng1

[jsfm] separate vue framework and add vue-api
  build/build.js
  build/config.js
  runtime/entries/vue-api.js
  runtime/entries/vue.js
  runtime/frameworks/index.js
  runtime/shared/utils.js
Owners: @Hanks10100

[jsfm] using less global var
  runtime/entries/vue-api.js
  runtime/entries/vue.js
Owners: @Hanks10100

merge libweexjss.so to appache
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjsb.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

merge libweexjss.so to appache (#1573)
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjsb.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

[WEEX-632][Android] Update jss to fix some bugs Update jss to fix some bugs Bug: WEEX-632
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
