Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

[iOS] Fix spelling error. (#1669)
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXHeaderComponent.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

* [android] Update devtool version
  android/playground/app/build.gradle
Owners: @YorkShen

* [android] Update devtool version (#1708)
  android/playground/app/build.gradle
Owners: @YorkShen

Revert "* [android] Update devtool version (#1708)"
  android/playground/app/build.gradle
Owners: @YorkShen

Revert "* [android] Update devtool version (#1708)" (#1710)
  android/playground/app/build.gradle
Owners: @YorkShen

* [android] Update devtool version
  android/playground/app/build.gradle
Owners: @YorkShen

* [android] Update devtool version (#1711)
  android/playground/app/build.gradle
Owners: @YorkShen

* [Android] Update version to 0.19
  android/playground/app/build.gradle
  android/sdk/build.gradle
Owners: @YorkShen

* [Android] Update version to 0.19 (#1712)
  android/playground/app/build.gradle
  android/sdk/build.gradle
Owners: @YorkShen

[jsfm] add event support without binding to Element
  runtime/bridge/receiver.js
Owners: @Hanks10100

[jsfm] add event support without binding to Element (#1709)
  runtime/bridge/receiver.js
Owners: @Hanks10100

[core] add class static member supporting, WeexSDK supporting *.wlasm for weex lite
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_builder.cc
  weex_core/Source/core/data_render/ast_builder.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/class.cc
  weex_core/Source/core/data_render/class.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/rax_parser.h
  weex_core/Source/core/data_render/token.h
  weex_core/Source/core/data_render/vm.cc
Owners: @cxfeng1, @YorkShen

[core] modify WL_RENDER render option for weex lite
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[core] modify WLASM_RENDER for weex lite render option
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[iOS] fix image slide bug
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
  ios/sdk/WeexSDK/Sources/Protocol/WXImgLoaderProtocol.h
Owners: @cxfeng1

[iOS] fix image slide bug (#1715)
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
  ios/sdk/WeexSDK/Sources/Protocol/WXImgLoaderProtocol.h
Owners: @cxfeng1

[core] modify args length as Andriod
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
Owners: @cxfeng1

[data_render] window.open support
  android/playground/app/src/main/assets/lite_template/case.js
  weex_core/Source/CMakeLists.txt
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/class_window.cc
  weex_core/Source/core/data_render/class_window.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] modify WeexSDK building file
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[data-render] try catch parse, codegen only support try block and finally block
  android/playground/app/src/main/assets/lite_template/case.js
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_builder.cc
  weex_core/Source/core/data_render/ast_builder.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/rax_parser.h
  weex_core/Source/core/data_render/token.h
Owners: @YorkShen

[iOS] Fix ios mutlithread related issues. Refactor WXThreadSafeMutableXXX containers.
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
  ios/sdk/WeexSDK/Sources/Controller/WXRootViewController.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Manager/WXSDKManager.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableArray.h
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableArray.m
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.h
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.m
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
  ios/sdk/WeexSDK/Sources/Utility/WXVersion.m
Owners: @cxfeng1

[core] modify header file
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_window.cc
Owners: @YorkShen

[iOS] Do not layout if non css style is updated such as 'transform' by updateStyle.
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
Owners: @cxfeng1

[iOS] Do not layout if non css style is updated such as 'transform' by updateStyle. (#1717)
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
Owners: @cxfeng1

[WEEX-484][iOS] Failure of parsing transform parameter when in third-party environment
  ios/sdk/WeexSDK/Sources/Component/WXTransform.m
Owners: @cxfeng1

[WEEX-484][iOS] Failure of parsing transform parameter when in third-party environment (#1718)
  ios/sdk/WeexSDK/Sources/Component/WXTransform.m
Owners: @cxfeng1

[iOS] add userinfo to bundle loader failed error message.
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[iOS] add userinfo to bundle loader failed error message. (#1719)
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[WEEX-639][iOS] fix input component can not limit words number correctly (#1608)
  ios/sdk/WeexSDK/Sources/Component/WXEditComponent.mm
Owners: @cxfeng1

[core] add event supporting for function instance
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_window.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @cxfeng1, @YorkShen

[core] bugfix crash by delete class twice
  weex_core/Source/core/data_render/class_factory.cc
Owners: @YorkShen

[data-render] renderByUrl support wlasm
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
Owners: @YorkShen

[data_render] update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

[data_render] fix arrow function parse error
  weex_core/Source/core/data_render/rax_parser.cc
Owners: @YorkShen

[core][data_render] add event support
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
Owners: @YorkShen

[core] supporting jsx props parse Token::SUB
  weex_core/Source/core/data_render/rax_parser.cc
Owners: @YorkShen

[core] supporting return add '(' ')'
  weex_core/Source/core/data_render/rax_parser.cc
Owners: @YorkShen

[core] supporting array.map
  weex_core/Source/core/data_render/class_array.cc
Owners: @YorkShen

[Core] Let affine types of "scroller", "list", "waterfall" match RenderList logic. Autodetect subclass when registering a component and register its affine type.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentFactory.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentFactory.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  weex_core/Source/core/render/node/factory/render_creator.cpp
  weex_core/Source/core/render/node/factory/render_creator.h
  weex_core/Source/core/render/node/render_list.cpp
Owners: @cxfeng1, @YorkShen

[iOS] Fix ios mutlithread related issues. Refactor WXThreadSafeMutableXXX containers. (#1716)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
  ios/sdk/WeexSDK/Sources/Controller/WXRootViewController.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Manager/WXSDKManager.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableArray.h
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableArray.m
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.h
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.m
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
  ios/sdk/WeexSDK/Sources/Utility/WXVersion.m
Owners: @cxfeng1
