Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

[ios] change scheme release to debug
  ios/sdk/WeexSDK.xcodeproj/xcshareddata/xcschemes/WeexSDK.xcscheme
Owners: @cxfeng1

[WEEX-593][iOS]image can not show correct borderRadius (#1473)
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

[WEEX-592][iOS] fix dic for-each read crash (#1472)
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
Owners: @cxfeng1

[WEEX-595][Android] fix report empty when too fast between render(template) and destroy
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
Owners: @YorkShen

[WEEX-596][iOS]fix report empty when too fast between render and destroy
  ios/sdk/WeexSDK/Sources/Performance/WXInstanceApm.m
Owners: @cxfeng1

[WEEX-595][Android] fix report empty when too fast between render(template) and destroy (#1475)
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
Owners: @YorkShen

[WEEX-596][iOS]fix report empty when too fast between render and destroy (#1476)
  ios/sdk/WeexSDK/Sources/Performance/WXInstanceApm.m
Owners: @cxfeng1

[WEEX-597][Android] fix can't get instance before render template for apm
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
Owners: @YorkShen

[WEEX-597][Android] fix can't get instance before render template for apm (#1477)
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
Owners: @YorkShen

Init sender and script_side_functions_ = null
  weex_core/Source/android/bridge/script/script_side_in_multi_process.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_process.h
  weex_core/Source/android/bridge/script/script_side_in_multi_so.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_so.h
Owners: @YorkShen

[WEEX-598][iOS] slider component can not request gesture stoppropagation
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.h
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

[WEEX-598][iOS] slider component can not request gesture stoppropagation (#1478)
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.h
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

Update so fix npe
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

Do not dlclose handle if dlopen failed
  weex_core/Source/android/bridge/multi_so_initializer.cpp
Owners: @YorkShen

[iOS] Avoid exceptionHandler be invoked by self and cause stackoverflow.
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

fix crash file log name lost error
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
Owners: @YorkShen

[iOS] Avoid exceptionHandler be invoked by self and cause stackoverflow. (#1481)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

Fix light app dispatch and onmessage data length loss
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjsb.so
  android/sdk/libs/armeabi/libweexjss.so
  weex_core/Source/android/bridge/platform/android_bridge_in_multi_process.cc
  weex_core/Source/android/bridge/platform/android_bridge_in_multi_so.cc
  weex_core/Source/android/bridge/platform/android_bridge_in_multi_so.h
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/bridge/platform/android_side.h
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/android/wrap/wml_bridge.cpp
  weex_core/Source/android/wrap/wml_bridge.h
  weex_core/Source/core/bridge/platform_bridge.h
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
  weex_core/Source/core/bridge/script/core_side_in_script.h
  weex_core/Source/core/bridge/script_bridge.h
  weex_core/Source/include/WeexApiHeader.h
Owners: @YorkShen

Remove log
  weex_core/Source/android/bridge/platform/android_bridge_in_multi_so.cc
Owners: @YorkShen

Add log
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so fix lightapp bugs
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[Core] Refactor. Fix function declaration.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
Owners: @cxfeng1

[core] fixed crash and merge member call op code, opt render manager
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  weex_core/Source/core/bridge/platform/core_side_in_platform.cpp
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/monitor/vm_monitor.h
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/table.h
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @cxfeng1, @YorkShen

Remove log
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjsb.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so to gray
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

[WEEX-599][iOS] add apm record isEnd flag
  ios/sdk/WeexSDK/Sources/Performance/WXInstanceApm.m
Owners: @cxfeng1

Fix npe
  weex_core/Source/android/jsengine/multiprocess/ExtendJSApi.cpp
Owners: @YorkShen

[iOS] When print WXSDKInstance, do not use %@ which may cause thread freeze due to thread issue.
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[WEEX-593][iOS]image can not show correct borderRadius
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

[WEEX-593][iOS]image can not show correct borderRadius (#1485)
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

[WEEX-599][iOS] add apm record isEnd flag (#1483)
  ios/sdk/WeexSDK/Sources/Performance/WXInstanceApm.m
Owners: @cxfeng1

[core] fixed UC json case can't show, control bug fixed and merge bug fixed
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen
