Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

[Core] Refactor. Avoid NAN header height.
  ios/sdk/WeexSDK/Sources/Component/WXHeaderComponent.mm
Owners: @cxfeng1

[Core] Refactor. Avoid invalid cell/header height.
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXHeaderComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXLayoutConstraint.h
  ios/sdk/WeexSDK/Sources/Layout/WXLayoutConstraint.m
Owners: @cxfeng1

[Core] Refactor. Avoid invalid cell/header height. (#1517)
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXHeaderComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXLayoutConstraint.h
  ios/sdk/WeexSDK/Sources/Layout/WXLayoutConstraint.m
Owners: @cxfeng1

* [Android] Downgrade to h5 if unsatisfiedLinked Error happened
  android/sdk/src/main/java/com/taobao/weex/WeexFrameRateControl.java
Owners: @YorkShen

[WEEX-612][android] Fixed after input component default set a string on android platform, and then remove it, not trigger input event.
  android/sdk/src/main/java/com/taobao/weex/ui/component/AbstractEditComponent.java
Owners: @YorkShen

add support
  android/sdk/src/main/java/com/taobao/weex/ui/action/ActionGetLayoutDirection.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/jni/NativeRenderLayoutDirection.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/jni/NativeRenderObjectUtils.java
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXDomModule.java
  weex_core/Source/core/layout/layout.cpp
  weex_core/Source/core/layout/layout.h
Owners: @YorkShen

solution No.1
  android/playground/app/src/main/java/com/alibaba/weex/extend/component/WXMask.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXIndicator.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXSlider.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
Owners: @YorkShen

* [android] Rename to WXDebugJsBridge
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXDebugJsBridge.java
  android/sdk/src/main/java/com/taobao/weex/common/IDebugProxy.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXDebugJsBridge.java
  weex_core/Source/CMakeLists.txt
  weex_core/Source/android/jniprebuild/jni_files
  weex_core/Source/android/jniprebuild/jni_load.cc
  weex_core/Source/android/jniprebuild/jniheader/WXDebugJsBridge_jni.h
  weex_core/Source/android/wrap/wml_bridge.cpp
  weex_core/Source/android/wrap/wx_debug_js_bridge.cpp
  weex_core/Source/android/wrap/wx_debug_js_bridge.h
Owners: @YorkShen

* [android] refector devtool jsfunction
  android/sdk/src/main/java/com/taobao/weex/bridge/WXDebugJsBridge.java
  android/sdk/src/main/java/com/taobao/weex/common/IDebugProxy.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXDebugJsBridge.java
  weex_core/Source/android/jniprebuild/jni_load.cc
  weex_core/Source/android/jniprebuild/jniheader/WXDebugJsBridge_jni.h
  weex_core/Source/android/wrap/wx_debug_js_bridge.cpp
  weex_core/Source/android/wrap/wx_debug_js_bridge.h
Owners: @YorkShen

gravity left | top
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/jni/NativeRenderLayoutDirection.java
Owners: @YorkShen

[core] fix setViewPort not valid problem
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
Owners: @YorkShen

[core] fix setViewPort not valid problem (#1525)
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
Owners: @YorkShen

* [Android] Downgrade to h5 if unsatisfiedLinked Error happened (#1518)
  android/sdk/src/main/java/com/taobao/weex/WeexFrameRateControl.java
Owners: @YorkShen

render_scroll modify
  android/playground/app/src/main/java/com/alibaba/weex/extend/component/WXMask.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXIndicator.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXScroller.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXSlider.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/render/node/render_scroller.cpp
  weex_core/Source/core/render/node/render_scroller.h
Owners: @YorkShen

[WEEX-614][Android] apm monitor logic fix
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
Owners: @YorkShen

[WEEX-614][Android] apm monitor logic fix (#1527)
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
Owners: @YorkShen

* [android] Update connect with devtool
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/IDebugProxy.java
Owners: @YorkShen

* [android] Remove IDebugProxy
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/common/IDebugProxy.java
Owners: @YorkShen

* [android] Remove IWXDebugJsBridge
  android/sdk/src/main/java/com/taobao/weex/bridge/WXDebugJsBridge.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXDebugJsBridge.java
Owners: @YorkShen

* [android] DebugServerProxy Decoupled.
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXDebugConfig.java
Owners: @YorkShen

Android scroll RTL
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXScroller.java
Owners: @YorkShen

[WEEX-615][iOS] apm data improvement
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent_performance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[jsfm] enhance the destroy logic of document and element
  .eslintrc
  runtime/bridge/CallbackManager.js
  runtime/vdom/Document.js
  runtime/vdom/Element.js
  runtime/vdom/Node.js
Owners: @Hanks10100

[WEEX-615][iOS] apm data improvement (#1528)
  ios/sdk/WeexSDK/Sources/Engine/WXSDKError.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent_performance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXExceptionUtils.m
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[jsfm] enhance the destroy logic of document and element (#1529)
  .eslintrc
  runtime/bridge/CallbackManager.js
  runtime/vdom/Document.js
  runtime/vdom/Element.js
  runtime/vdom/Node.js
Owners: @Hanks10100

[jsfm] move log level check to utils
  runtime/shared/env/console.js
  runtime/shared/utils.js
Owners: @Hanks10100

[jsfm] add more debug logs for vdom operation
  runtime/bridge/TaskCenter.js
  runtime/shared/utils.js
  runtime/vdom/Document.js
  runtime/vdom/Element.js
Owners: @Hanks10100

[jsfm] Add more debug logs for vdom operation (#1531)
  runtime/bridge/TaskCenter.js
  runtime/shared/env/console.js
  runtime/shared/utils.js
  runtime/vdom/Document.js
  runtime/vdom/Element.js
Owners: @Hanks10100

default multiProgress, if failed in multiProgress turn to singleProgress according to the switch
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
  weex_core/Source/android/wrap/wx_bridge.cpp
Owners: @YorkShen

stop sync if exception occurs
  android/sdk/src/main/java/com/taobao/weex/WeexFrameRateControl.java
Owners: @YorkShen

stop sync if exception occurs (#1532)
  android/sdk/src/main/java/com/taobao/weex/WeexFrameRateControl.java
Owners: @YorkShen

android environment add LayoutDirection
  android/commons/.classpath
  android/playground/app/.classpath
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
  android/sdk/src/main/java/com/taobao/weex/common/WXConfig.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/ActionGetLayoutDirection.java
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXDomModule.java
  android/sdk/src/main/res/values-ldltr/isrtl.xml
  android/sdk/src/main/res/values-ldrtl/istrtl.xml
  ios/sdk/WeexSDK/Sources/Layout/WXCoreLayout.h
  weex_core/Source/android/jsengine/multiprocess/WeexProxy.cpp
Owners: @YorkShen, @cxfeng1

default multiProgress, if failed in multiProgress turn to singleProgress according to the switch (#1534)
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
  weex_core/Source/android/wrap/wx_bridge.cpp
Owners: @YorkShen

[Core] Refactor. Adapt for scroller nested in scroller.
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.h
  ios/sdk/WeexSDK/Sources/View/WXComponent+ViewManagement.mm
Owners: @cxfeng1

[Core] Refactor. Adapt for scroller nested in scroller. (#1535)
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.h
  ios/sdk/WeexSDK/Sources/View/WXComponent+ViewManagement.mm
Owners: @cxfeng1

[jsfm] upgrade js framework to v0.28.1
  android/sdk/assets/weex-main-jsfm.js
  android/sdk/assets/weex-rax-api.js
  package.json
  pre-build/weex-main-jsfm.js
  pre-build/weex-rax-api.js
Owners: @YorkShen

keep pageIndex if pageEnabled seted
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXScroller.java
Owners: @YorkShen

[jsfm] upgrade js framework to v0.28.1 (#1536)
  android/sdk/assets/weex-main-jsfm.js
  android/sdk/assets/weex-rax-api.js
  package.json
  pre-build/weex-main-jsfm.js
  pre-build/weex-rax-api.js
Owners: @YorkShen

keep pageIndex if pageEnabled seted (#1537)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXScroller.java
Owners: @YorkShen

back home backup
  ios/playground/WeexDemo/WXDemoViewController.m
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Component/WXEmbedComponent.m
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Layout/WXCoreFlexEnum.h
  ios/sdk/WeexSDK/Sources/Layout/WXCoreLayout.cpp
  ios/sdk/WeexSDK/Sources/Layout/WXCoreLayout.h
  ios/sdk/WeexSDK/Sources/Layout/WXCoreStyle.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.mm
  weex_core/Source/core/layout/flex_enum.h
  weex_core/Source/core/layout/layout.cpp
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/layout/style.h
  weex_core/Source/core/render/node/render_list.cpp
  weex_core/Source/core/render/node/render_object.cpp
  weex_core/Source/core/render/node/render_scroller.cpp
  weex_core/Source/core/render/node/render_scroller.h
Owners: @cxfeng1, @YorkShen

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
