Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

[data_render] math support
  android/playground/app/src/main/assets/lite_template/case.js
  weex_core/Source/CMakeLists.txt
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/class_math.cc
  weex_core/Source/core/data_render/class_math.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[WEEX-656][iOS] WeexDemo Supporting iPhone XS Max and XR
  WeexSDK.podspec
  ios/playground/WeexDemo/Assets.xcassets/LaunchImage.launchimage/Contents.json
  ios/playground/WeexDemo/Assets.xcassets/LaunchImage.launchimage/iPhoneXMax@3x.png
  ios/playground/WeexDemo/Assets.xcassets/LaunchImage.launchimage/iPhoneXR@2x.png
Owners: @cxfeng1

[WEEX-656][iOS] WeexDemo Supporting iPhone XS Max and XR (#1724)
  WeexSDK.podspec
  ios/playground/WeexDemo/Assets.xcassets/LaunchImage.launchimage/Contents.json
  ios/playground/WeexDemo/Assets.xcassets/LaunchImage.launchimage/iPhoneXMax@3x.png
  ios/playground/WeexDemo/Assets.xcassets/LaunchImage.launchimage/iPhoneXR@2x.png
Owners: @cxfeng1

fix video show or noshow controls (#1722)
  ios/sdk/WeexSDK/Sources/Component/WXVideoComponent.m
Owners: @cxfeng1

[core] bugfix console.log string can't show
  weex_core/Source/core/data_render/class_console.cc
Owners: @YorkShen

[Core] Let affine types of "scroller", "list", "waterfall" match RenderList logic. Autodetect subclass when registering a component and register its affine type. (#1723)
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXComponentFactory.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentFactory.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  weex_core/Source/core/render/node/factory/render_creator.cpp
  weex_core/Source/core/render/node/factory/render_creator.h
  weex_core/Source/core/render/node/render_list.cpp
Owners: @cxfeng1, @YorkShen

[core][data_render] support value array of attr parser
  weex_core/Source/core/data_render/parser.cc
Owners: @YorkShen

[core][data_render] support vcomponent lifecycle and update from js
  weex_core/Source/CMakeLists.txt
  weex_core/Source/IPC/IPCMessageJS.h
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/base/string_util.h
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
  weex_core/Source/core/bridge/script/core_side_in_script.h
  weex_core/Source/core/bridge/script_bridge.h
  weex_core/Source/core/data_render/vnode/vcomponent.cc
  weex_core/Source/core/data_render/vnode/vcomponent.h
  weex_core/Source/core/data_render/vnode/vcomponent_lifecycle_listener.cc
  weex_core/Source/core/data_render/vnode/vcomponent_lifecycle_listener.h
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_context.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
  weex_core/Source/include/WeexApiHeader.h
Owners: @YorkShen

[core] bugfix vue json binary encoding error, add section data to store the array and table
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/exec_state_section.h
Owners: @YorkShen

[iOS] fix random RTL invalid
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

[iOS] Restore recursive lock and add some comments.
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableArray.h
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableArray.m
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.h
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.m
Owners: @cxfeng1

[iOS] Restore recursive lock and add some comments. (#1726)
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableArray.h
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableArray.m
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.h
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.m
Owners: @cxfeng1

[iOS] fix scrollEnd can not get offset
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

[iOS] fix scrollEnd can not get offset (#1729)
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

[WEEX-657][iOS] Add a feature to control the offset of list attach to the bottom`
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
Owners: @cxfeng1

[WEEX-657][iOS] Optimize code
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.h
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
Owners: @cxfeng1

Update WXBridgeManager.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
Owners: @cxfeng1

[core][data_render] support event
  weex_core/Source/CMakeLists.txt
  weex_core/Source/core/data_render/vnode/android/conversion.cc
  weex_core/Source/core/data_render/vnode/android/conversion.h
  weex_core/Source/core/data_render/vnode/android/vcomponent_lifecycle_listener.cc
  weex_core/Source/core/data_render/vnode/android/vnode_on_event_listener.cc
  weex_core/Source/core/data_render/vnode/vcomponent.cc
  weex_core/Source/core/data_render/vnode/vcomponent.h
  weex_core/Source/core/data_render/vnode/vcomponent_lifecycle_listener.cc
  weex_core/Source/core/data_render/vnode/vcomponent_lifecycle_listener.h
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_on_event_listener.h
  weex_core/Source/core/data_render/vnode/vnode_render_context.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[iOS] Remove specific animation by key instead of removing all. If we don' t remove, updating transform won't work after doing CAAnimation. http://dotwe.org/vue/ce7d8d3bd4e67d3fe321c9e8b0bbbb7b
  ios/sdk/WeexSDK/Sources/Module/WXAnimationModule.m
Owners: @cxfeng1

[weex_core][iOS] fix update direction invalid bug
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.h
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/render/node/render_object.cpp
  weex_core/Source/core/render/node/render_object.h
  weex_core/Source/core/render/page/render_page.cpp
Owners: @cxfeng1, @YorkShen

[iOS] add js binding on iOS
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
  ios/sdk/WeexSDK/Sources/Protocol/WXBridgeProtocol.h
  ios/sdk/WeexSDK/Sources/Utility/WXConvertUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXConvertUtility.mm
  weex_core/Source/core/data_render/vnode/ios/vcomponent_lifecycle_listener.mm
  weex_core/Source/core/data_render/vnode/ios/vnode_on_event_listener.mm
Owners: @cxfeng1, @YorkShen

[core][eagle] fix codegen prefix invalid problem
  weex_core/Source/core/data_render/code_generator.cc
Owners: @YorkShen

[iOS] add createinstance to execute js
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
  weex_core/Source/core/bridge/platform/core_side_in_platform.cpp
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @cxfeng1, @YorkShen

[core] add http_module
  weex_core/Source/core/network/http_module.cc
  weex_core/Source/core/network/http_module.h
Owners: @YorkShen

[core][eagle] fix event params
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  weex_core/Source/android/jniprebuild/jniheader/WXBridge_jni.h
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/core/data_render/vnode/android/vnode_on_event_listener.cc
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_on_event_listener.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @YorkShen

[eagle] fix repeat bug
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vcomponent.cc
Owners: @YorkShen

update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

[WEEX-657][iOS] Rename property name
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.h
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
Owners: @cxfeng1

[core][data_render] support class binding
  weex_core/Source/core/data_render/parser.cc
Owners: @YorkShen

[devtool] Updated the Apache release scripts.
  scripts/build_from_source.sh
  scripts/generate_apache_release.sh
Owners: none

[iOS] add requestHandle to download js
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
  weex_core/Source/core/network/default_request_handler.h
  weex_core/Source/core/network/http_module.cc
  weex_core/Source/core/network/ios/default_request_handler.mm
  weex_core/Source/core/network/request_handler.h
Owners: @cxfeng1, @YorkShen

[core][data_render] support class binding (#1740)
  weex_core/Source/core/data_render/parser.cc
Owners: @YorkShen

[core][Android] support dispatchMessageSync api
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjss.so
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  weex_core/Source/IPC/IPCMessageJS.h
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/bridge/platform/android_side.h
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/android/wrap/wml_bridge.cpp
  weex_core/Source/android/wrap/wml_bridge.h
  weex_core/Source/core/bridge/platform_bridge.h
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
  weex_core/Source/core/bridge/script/core_side_in_script.h
  weex_core/Source/core/bridge/script_bridge.h
  weex_core/Source/include/WeexApiHeader.h
Owners: @YorkShen, @cxfeng1

* [Android] Change NestedInstance in WXEmbed to protected for sub-class to override.
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
Owners: @YorkShen

* [Android] Change NestedInstance in WXEmbed to protected for sub-class to override. (#1744)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
Owners: @YorkShen

[iOS] fix weexsdk compile error
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Utility/WXConvertUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXConvertUtility.mm
  ios/sdk/WeexSDK/Sources/WeexSDK.h
  weex_core/Source/base/string_util.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/vnode/ios/vnode_on_event_listener.mm
  weex_core/Source/core/data_render/vnode/vcomponent.h
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/network/request_handler.h
Owners: @cxfeng1, @YorkShen

[iOS] fix weexsdk compile error
  ios/sdk/WeexSDK/Sources/Utility/WXConvertUtility.mm
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @cxfeng1, @YorkShen

[core][Android] support dispatchMessageSync api (#1743)
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjss.so
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  weex_core/Source/IPC/IPCMessageJS.h
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/bridge/platform/android_side.h
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/android/wrap/wml_bridge.cpp
  weex_core/Source/android/wrap/wml_bridge.h
  weex_core/Source/core/bridge/platform_bridge.h
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
  weex_core/Source/core/bridge/script/core_side_in_script.h
  weex_core/Source/core/bridge/script_bridge.h
  weex_core/Source/include/WeexApiHeader.h
Owners: @YorkShen, @cxfeng1

[build] Updated the Apache release scripts. (#1741)
  scripts/build_from_source.sh
  scripts/generate_apache_release.sh
Owners: none

[Release] Roll version number to 0.20.0
  android/playground/app/build.gradle
  android/sdk/build.gradle
  ios/sdk/WeexSDK/Sources/Utility/WXDefine.h
Owners: @YorkShen, @cxfeng1
