Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

[core] fix class member call error without find from super
  weex_core/Source/core/data_render/class.cc
  weex_core/Source/core/data_render/class.h
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[data_render] update json parse and bin op support
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/table.cc
Owners: @YorkShen

[core] fix vnode dom diff error and js update
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @YorkShen

[core] fix vnode diff can't change node tree
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] fix lose root node case dom diff error
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] fix refresh instance before reset root
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] fix cmakelist file lose
  weex_core/Source/CMakeLists.txt
Owners: @YorkShen

[ios] fix ios sdk compile error
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/object.h
Owners: @cxfeng1, @YorkShen

[core][Android] api for opcode
  android/sdk/src/main/java/com/taobao/weex/Script.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXFileUtils.java
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/core/bridge/platform/core_side_in_platform.cpp
  weex_core/Source/core/bridge/platform/core_side_in_platform.h
  weex_core/Source/core/bridge/platform_bridge.h
Owners: @YorkShen

[core] fix data_render compile error
  weex_core/Source/core/data_render/binary_file.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

* [android] Fix getLanguage (#1547)
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXLocaleModule.java
Owners: @YorkShen

[WEEX-625][iOS] hotpatch jsframework && support JSFrameworkLoadProtocol
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Handler/WXJSFrameworkLoadDefaultImpl.h
  ios/sdk/WeexSDK/Sources/Handler/WXJSFrameworkLoadDefaultImpl.m
  ios/sdk/WeexSDK/Sources/Protocol/WXApmProtocol.h
  ios/sdk/WeexSDK/Sources/Protocol/WXJSFrameworkLoadProtocol.h
  ios/sdk/WeexSDK/Sources/WeexSDK.h
Owners: @cxfeng1

[core] modify jsx running check is a class object && register module && js function import && vm bugfix
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.h
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/class.cc
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/js_common_function.cc
  weex_core/Source/core/data_render/js_common_function.h
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/rax_jsx_ast.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @cxfeng1, @YorkShen

[core] bugfix event @bind inst error
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] add call native module supporting
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
  weex_core/Source/core/render/action/render_action_call_native_module.cpp
  weex_core/Source/core/render/action/render_action_call_native_module.h
  weex_core/Source/core/render/manager/render_manager.cpp
  weex_core/Source/core/render/manager/render_manager.h
  weex_core/Source/core/render/page/render_page.cpp
  weex_core/Source/core/render/page/render_page.h
Owners: @cxfeng1, @YorkShen

[data_render] rax sup for event and module
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  weex_core/Source/CMakeLists.txt
  weex_core/Source/android/jniprebuild/jniheader/WXBridge_jni.h
  weex_core/Source/android/wrap/wx_bridge.cpp
Owners: @YorkShen

[data_render] rax sup for event and module
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[core] bugfix bool && error
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[core] modify sdk module interface
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.h
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
Owners: @cxfeng1

[core][Android] fix compile error
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  weex_core/Source/core/data_render/object.cc
Owners: @YorkShen

[iOS] Add getLanguageSync for local, and fix original getLanguage method.
  ios/sdk/WeexSDK/Sources/Module/WXLocaleModule.m
Owners: @cxfeng1

[iOS] Add getLanguageSync for local, and fix original getLanguage method. (#1552)
  ios/sdk/WeexSDK/Sources/Module/WXLocaleModule.m
Owners: @cxfeng1

[WEEX-625][iOS] hotpatch jsframework && support JSFrameworkLoadProtocol (#1546)
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Handler/WXJSFrameworkLoadDefaultImpl.h
  ios/sdk/WeexSDK/Sources/Handler/WXJSFrameworkLoadDefaultImpl.m
  ios/sdk/WeexSDK/Sources/Protocol/WXApmProtocol.h
  ios/sdk/WeexSDK/Sources/Protocol/WXJSFrameworkLoadProtocol.h
  ios/sdk/WeexSDK/Sources/WeexSDK.h
Owners: @cxfeng1

[core] add js_common_function.cc file to sdk
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/exec_state.cc
Owners: @cxfeng1, @YorkShen

[core] add js_common_function.cc file to sdk (#1553)
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/exec_state.cc
Owners: @cxfeng1, @YorkShen

[iOS] Generate build time and time stamp when build.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Utility/WXDefine.h
  ios/sdk/WeexSDK/Sources/Utility/WXVersion.h
  ios/sdk/WeexSDK/Sources/Utility/WXVersion.m
  ios/sdk/buildScripts.sh
Owners: @cxfeng1

[iOS] Generate build time and time stamp when build. (#1554)
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Utility/WXDefine.h
  ios/sdk/WeexSDK/Sources/Utility/WXVersion.h
  ios/sdk/WeexSDK/Sources/Utility/WXVersion.m
  ios/sdk/buildScripts.sh
Owners: @cxfeng1

[iOS] add render_action_call_native_module.cpp file to sdk
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[iOS] Pass pageURL to external image loader.
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

[core] fix Android scroll rtl inherit
  weex_core/Source/core/layout/layout.cpp
  weex_core/Source/core/render/node/render_scroller.cpp
  weex_core/Source/core/render/node/render_scroller.h
Owners: @YorkShen

[android] now Android can scroll can layout different direction as system
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXScroller.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXUtils.java
Owners: @YorkShen

[iOS] Pass pageURL to external image loader. (#1556)
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

[iOS] add render_action_call_native_module.cpp file to sdk (#1555)
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[WEEX-622][iOS] record jsservice name to context && modify white screen check logic
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

[WEEX-622][iOS] record jsservice name to context && modify white screen check logic (#1541)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

[WEEX-620][iOS] pageName check and interaction code revert
  ios/sdk/WeexSDK/Sources/Model/WXComponent_performance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[WEEX-620][iOS] pageName check and interaction code revert (#1539)
  ios/sdk/WeexSDK/Sources/Model/WXComponent_performance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[core] fix data render bug
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/vm.cc
Owners: @cxfeng1, @YorkShen

[core] fix data render bug (#1557)
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/vm.cc
Owners: @cxfeng1, @YorkShen

[iOS] fix data render in renderview interface
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
