Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

*[iOS][WEEX-660]add component ignoreInteraction flag (bad case addElement onScreen with loop)
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent_performance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[Release] Added missing Apache license
  android/sdk/build.gradle
  android/sdk/gradle.properties
  android/sdk/proguard-rules.pro
  android/sdk/publish.sh
  runtime/frameworks/legacy/core/array.js
  runtime/frameworks/legacy/core/dep.js
  runtime/frameworks/legacy/core/object.js
  runtime/frameworks/legacy/core/observer.js
  runtime/frameworks/legacy/core/state.js
  runtime/frameworks/legacy/core/watcher.js
  weex_core/CMakeLists.txt
  weex_core/Source/CMakeLists.txt
  weex_core/Source/IPC/CMakeLists.txt
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/tokenizer.cc
  weex_core/Source/third_party/json11/CMakeLists.txt
  weex_core/Source/weexjsc_version_script.txt
  weex_core/Source/wson/CMakeLists.txt
Owners: @YorkShen, @Hanks10100

[iOS] fix weexsdk compile error
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  weex_core/Source/base/LogDefines.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @cxfeng1, @YorkShen

[iOS] fix weexsdk compile error (#1754)
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  weex_core/Source/base/LogDefines.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @cxfeng1, @YorkShen

*[iOS][WEEX-660]add component ignoreInteraction flag (bad case addElement onScreen with loop) (#1750)
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent_performance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[Release] Added the missing Apache license
  android/sdk/build.gradle
  android/sdk/gradle.properties
  android/sdk/proguard-rules.pro
  android/sdk/publish.sh
  weex_core/CMakeLists.txt
  weex_core/Source/CMakeLists.txt
  weex_core/Source/IPC/CMakeLists.txt
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/tokenizer.cc
  weex_core/Source/third_party/json11/CMakeLists.txt
  weex_core/Source/weexjsc_version_script.txt
  weex_core/Source/wson/CMakeLists.txt
Owners: @YorkShen

merge master
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

[Release] Added the missing Apache license (#1753)
  android/sdk/build.gradle
  android/sdk/gradle.properties
  android/sdk/proguard-rules.pro
  android/sdk/publish.sh
  weex_core/CMakeLists.txt
  weex_core/Source/CMakeLists.txt
  weex_core/Source/IPC/CMakeLists.txt
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/tokenizer.cc
  weex_core/Source/third_party/json11/CMakeLists.txt
  weex_core/Source/weexjsc_version_script.txt
  weex_core/Source/wson/CMakeLists.txt
Owners: @YorkShen

[iOS] fix renderWithUrl on data_render
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[iOS] fix renderWithUrl on data_render (#1756)
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[iOS] Fix deadlock if WXSDKInstance is release in thread safe dictionary.
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.m
Owners: @cxfeng1

[iOS] Fix deadlock if WXSDKInstance is release in thread safe dictionary. (#1757)
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Utility/WXThreadSafeMutableDictionary.m
Owners: @cxfeng1

[iOS] Trigger vsync on iOS in every batch.
  weex_core/Source/core/render/page/render_page.cpp
Owners: @YorkShen

[iOS] Trigger vsync on iOS in every batch. (#1759)
  weex_core/Source/core/render/page/render_page.cpp
Owners: @YorkShen

[android] fix waterfall leftGap rightGap
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/GapItemDecoration.java
  weex_core/Source/core/layout/layout.cpp
Owners: @YorkShen

review change
  weex_core/Source/core/render/node/render_scroller.h
Owners: @YorkShen

revert build.gradle
  android/sdk/build.gradle
Owners: @YorkShen

[core] fix env or jni object nullptr
  weex_core/Source/base/message_loop/message_pump_android.cc
  weex_core/Source/core/layout/measure_func_adapter_impl_android.h
Owners: @YorkShen

[core] fix env or jni object nullptr (#1761)
  weex_core/Source/base/message_loop/message_pump_android.cc
  weex_core/Source/core/layout/measure_func_adapter_impl_android.h
Owners: @YorkShen

[Android] add eagle version track info
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
Owners: @YorkShen

[iOS] add performance debug
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[iOS] add performance debug (#1763)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.m
Owners: @cxfeng1

[iOS] fix error when loading contents from cache
  ios/sdk/WeexSDK/Sources/Controller/WXBaseViewController.m
Owners: @cxfeng1

[iOS] fix error when loading contents from cache (#1764)
  ios/sdk/WeexSDK/Sources/Controller/WXBaseViewController.m
Owners: @cxfeng1

[android] change text RTL implement
  android/sdk/src/main/java/com/taobao/weex/dom/WXStyle.java
  android/sdk/src/main/java/com/taobao/weex/layout/measurefunc/TextContentBoxMeasurement.java
  android/sdk/src/main/java/com/taobao/weex/utils/StaticLayoutProxy.java
Owners: @YorkShen

Update LICENSE
  LICENSE
Owners: none

Update LICENSE (#1765)
  LICENSE
Owners: none

[weex_core] fix RTL nowrap bug
  weex_core/Source/core/layout/layout.cpp
Owners: @YorkShen

Revert "[weex_core] fix RTL nowrap bug"
  weex_core/Source/core/layout/layout.cpp
Owners: @YorkShen

[iOS] Also write js error log to monitor.
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
Owners: @cxfeng1

[Android] add eagle version track info (#1762)
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
Owners: @YorkShen

supply for 6594b28ec55accd6e70a3d234d12b2e545b9fdf6
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.h
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
Owners: @cxfeng1

[Android] fix scroller memory leack because of OnAttachedListener
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXScroller.java
Owners: @YorkShen

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
