Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

Revert "merge libweexjss.so to appache (#1573)"
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjsb.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

Revert "merge libweexjss.so to appache (#1573)" (#1575)
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexjsb.so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/armeabi/libweexjsb.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

[WEEX-632][Android] Update jss to fix some bugs (#1574)
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[iOS] move adjustForRTL to optional
  ios/sdk/WeexSDK/Sources/Protocol/WXScrollerProtocol.h
Owners: @cxfeng1

[WEEX-586][Android] Revert Weex Render High Performance Cross Platform Render Engine
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  weex_core/Source/core/render/node/render_document.cpp
Owners: @YorkShen

[data-render] fix event not be fired when refresh hanppen
  android/playground/app/src/main/java/com/alibaba/weex/SliceTestActivity.java
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
Owners: @YorkShen

[core] bugfix div string / int
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[core] fix fire event bug when refresh in data render (#1581)
  android/playground/app/src/main/java/com/alibaba/weex/SliceTestActivity.java
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
Owners: @YorkShen

[core] bugfix dom module register error and '\xxxxxx' error
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @cxfeng1, @YorkShen

[WEEX-634][Android] fix old performance record time
  android/sdk/src/main/java/com/taobao/weex/common/WXPerformance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
Owners: @YorkShen

[iOS] fix transition may cause memory leak.
  ios/sdk/WeexSDK/Sources/Module/WXTransition.h
  ios/sdk/WeexSDK/Sources/Module/WXTransition.mm
Owners: @cxfeng1

[iOS]Crash fix
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

[iOS] fix transition may cause memory leak.
  ios/sdk/WeexSDK/Sources/Module/WXTransition.h
  ios/sdk/WeexSDK/Sources/Module/WXTransition.mm
Owners: @cxfeng1

[iOS] Refactor. Fix move element. No need to calculate index and do not destroy render object.
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

[iOS] Fix transition.
  ios/sdk/WeexSDK/Sources/Module/WXTransition.mm
Owners: @cxfeng1

[iOS] Change log string.
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
Owners: @cxfeng1

[Core] Refactor. Change to ObjC method.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
Owners: @cxfeng1

[iOS] Add switch for create instance optimization.
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

[Core] Refactor. Mask component height fix on iOS.
  weex_core/Source/core/render/node/render_mask.cpp
Owners: @YorkShen

[Core] Refactor. Mask component height fix on iOS. Add comment.
  weex_core/Source/core/render/node/render_mask.cpp
Owners: @YorkShen

[WEEX-634][Android] fix old performance record time (#1583)
  android/sdk/src/main/java/com/taobao/weex/common/WXPerformance.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
Owners: @YorkShen

[core] bugfix dom module register error and '\xxxxxx' error (#1582)
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @cxfeng1, @YorkShen

[core] fix Android x86 crash
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

Merge 0927 bugfixes (#1585)
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Module/WXTransition.h
  ios/sdk/WeexSDK/Sources/Module/WXTransition.mm
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
  weex_core/Source/core/render/node/render_mask.cpp
Owners: @cxfeng1, @YorkShen

[core]fix opcode rax parser error
  weex_core/Source/core/data_render/binary_file.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
Owners: @YorkShen

[core]fix opcode rax parser error (#1588)
  weex_core/Source/core/data_render/binary_file.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
Owners: @YorkShen

[Android] fix getFirstScreenRenderTime NPE
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[core] fix opcode decode bug on Android
  weex_core/Source/core/data_render/exec_state.cc
Owners: @YorkShen

[core][Android] fix NPE and decode error in opcode (#1589)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  weex_core/Source/core/data_render/exec_state.cc
Owners: @YorkShen

[core] fix android x86 and env layoutdirection
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  weex_core/Source/android/jsengine/multiprocess/WeexProxy.cpp
  weex_core/Source/android/utils/params_utils.cpp
Owners: @YorkShen

sync files
  android/commons/.classpath
  android/playground/app/.classpath
Owners: @YorkShen

[Android] push libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

remove compile file render_document.cpp
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Utility/WXVersion.m
Owners: @cxfeng1

clean Build Phases
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[iOS] remove render_document.cpp from sdk
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[android] fix x86 android system version 4.0
  android/sdk/libs/x86/libweexjst.so
Owners: @YorkShen

[core] fix list column zero
  weex_core/Source/core/render/node/render_list.cpp
Owners: @YorkShen

[core] fix list column zero (#1595)
  weex_core/Source/core/render/node/render_list.cpp
Owners: @YorkShen

[android] fix layoutDirection reverse
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXScroller.java
Owners: @YorkShen

[core] bugfix ' ' url_encode => '%20'
  weex_core/Source/core/data_render/class_string.cc
Owners: @YorkShen

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
