Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

[core] fix scoped_jstring NPE
  weex_core/Source/android/base/string/scoped_jstring.cpp
Owners: @YorkShen

[WEEX-558][Android] Font file url compatible with ' and " (#1419)
  android/sdk/src/main/java/com/taobao/weex/utils/FontDO.java
Owners: @YorkShen

[core] fix vsnprintf crash
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
  weex_core/Source/android/utils/params_utils.cpp
Owners: @YorkShen

[core] update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

support gcanvas link
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/android/jsengine/multiprocess/ExtendJSApi.cpp
Owners: @YorkShen

support gcanvas link
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

[core] rax running bugfix
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/common_error.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] fixed call order error
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/class_string.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] add JSON.stringify function
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/class_json.cc
  weex_core/Source/core/data_render/class_json.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[Android] fix WXHeader sticky problem
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXHeader.java
Owners: @YorkShen

[core] fix string add sequence problem
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/object.h
Owners: @YorkShen

[core] miss file in cmakelist
  weex_core/Source/CMakeLists.txt
Owners: @YorkShen

[core] fix JNI pinned array reference table overflow
  weex_core/Source/android/utils/params_utils.cpp
Owners: @YorkShen

[core] update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

[core] fix data render ref problem
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] add string compare with seq
  weex_core/Source/core/data_render/object.cc
Owners: @YorkShen

[core] fixed function call after the register var ref reset to clear
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

feat: Reduce WXParams obj time of Serializable
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
Owners: @YorkShen

[core] fixed jsx node running error, arrow function default return jsxnode ptr
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

Update so to gray
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so to gray
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

[core] add OP_NOT, NEQ, NSEQ
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/string_table.cc
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[Core] Data render. Add files to iOS project.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[iOS] Add page stop event and custom pageSize ability to Scroller
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

[iOS] Add page stop event and custom pageSize ability to Scroller
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

[iOS] add WXDispalyLinkManager object to manager displaylink
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Manager/WXDisplayLinkManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXDisplayLinkManager.m
Owners: @cxfeng1

[iOS] Add page stop event and custom pageSize ability to Scroller (#1496)
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

[core] fixed log crash
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] fixed build error
  weex_core/Source/core/data_render/exec_state.cc
Owners: @YorkShen

[iOS] add WXDisplayLinkManager.h and WXDisplayLinkManager.m
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[iOS] add WXDisplayLinkManager.h
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/WeexSDK.h
Owners: @cxfeng1

1.add layout info to envDirection 2.getLayoutDirection
  ios/playground/WeexDemo/WXDemoViewController.m
  ios/sdk/WeexSDK/Sources/Component/WXEmbedComponent.m
  ios/sdk/WeexSDK/Sources/Component/WXTextComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_private.h
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.mm
  ios/sdk/WeexSDK/Sources/Utility/WXType.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

Support dev tool
  android/sdk/src/main/java/com/taobao/weex/bridge/WXJsFunctions.java
  weex_core/Source/android/base/string/string_utils.h
  weex_core/Source/android/jniprebuild/jniheader/WXBridge_jni.h
  weex_core/Source/android/jniprebuild/jniheader/WXJsFunctions_jni.h
  weex_core/Source/android/wrap/jsfunction_impl_android.cpp
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/android/wrap/wx_bridge.h
Owners: @YorkShen

[core] add value ref for memory opt
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/class.cc
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_array.h
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/class_json.cc
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/table.h
  weex_core/Source/core/data_render/table_factory.cc
  weex_core/Source/core/data_render/table_factory.h
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vm_mem.cc
  weex_core/Source/core/data_render/vm_mem.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @cxfeng1, @YorkShen

* [android] Support NetworkHandler for image/stream/font
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/http/WXStreamModule.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
  android/sdk/src/main/java/com/taobao/weex/utils/FontDO.java
Owners: @YorkShen

[core] fix OP_NEW modify error, add string trim
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/table.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[core] add encodeURIComponent
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/class_string.h
  weex_core/Source/core/data_render/tokenizer.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

fixed android and ios image diff
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
Owners: @cxfeng1

[core] add android eof error
  weex_core/Source/core/data_render/tokenizer.cc
Owners: @YorkShen

[core] merge OP_NEW, new expression
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/monitor/vm_monitor.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
