Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

use gnustl_static instead of c++_static, reimplement utf16 convert to utf8
  android/sdk/build.gradle
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/CMakeLists.txt
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/android/utils/IPCStringResult.cpp
  weex_core/Source/base/message_loop/message_loop.h
  weex_core/Source/base/string_util.h
  weex_core/Source/base/third_party/icu/icu_utf.cpp
  weex_core/Source/base/third_party/icu/icu_utf.h
  weex_core/Source/core/data_render/parser.cc
Owners: @YorkShen

default ltr
  weex_core/Source/core/layout/flex_enum.h
Owners: @YorkShen

[WEEX-616][iOS] scroller support borderRadius
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Display/WXComponent+Display.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

[WEEX-582][iOS] reform network request handler
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
  ios/sdk/WeexSDK/Sources/Loader/WXResourceLoader.m
  ios/sdk/WeexSDK/Sources/Manager/WXInstanceHandlerFactory.h
  ios/sdk/WeexSDK/Sources/Manager/WXInstanceHandlerFactory.m
  ios/sdk/WeexSDK/Sources/Manager/WXRuleManager.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Module/WXStreamModule.m
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
  ios/sdk/WeexSDK/Sources/WeexSDK.h
Owners: @cxfeng1

[Android] add condition to prevent calling jni method when so or jfm not prepared
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[WEEX-623][Android] pageName check and revert interaction time top10 logic
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @YorkShen

[Android] add condition to prevent calling jni method when so or jfm not prepared (#1542)
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

fix update style
  ios/playground/WeexDemo.xcodeproj/project.pbxproj
  ios/playground/WeexDemo/Info.plist
  ios/sdk/WeexSDK/Sources/Component/WXTextComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_private.h
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.mm
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
  ios/sdk/WeexSDK/Sources/View/WXComponent+ViewManagement.mm
Owners: @cxfeng1

use gnustl_static instead of c++_static, reimplement utf16 convert to utf8 (#1540)
  android/sdk/build.gradle
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/CMakeLists.txt
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/android/utils/IPCStringResult.cpp
  weex_core/Source/base/message_loop/message_loop.h
  weex_core/Source/base/string_util.h
  weex_core/Source/base/third_party/icu/icu_utf.cpp
  weex_core/Source/base/third_party/icu/icu_utf.h
  weex_core/Source/core/data_render/parser.cc
Owners: @YorkShen

[Core] Refactor. Fix memory leak and border pixel scale.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.h
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

[Core] Refactor. Fix memory leak and border pixel scale. (#1544)
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.h
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

[WEEX-585][iOS] recycle list bugfix
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListComponent.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListUpdateManager.m
  ios/sdk/WeexSDK/Sources/Utility/WXDiffUtil.h
  ios/sdk/WeexSDK/Sources/Utility/WXDiffUtil.m
Owners: @cxfeng1

[WEEX-616][iOS] scroller support borderRadius (#1533)
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Display/WXComponent+Display.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

[WEEX-585][iOS] recycle list bugfix (#1538)
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListComponent.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListUpdateManager.m
  ios/sdk/WeexSDK/Sources/Utility/WXDiffUtil.h
  ios/sdk/WeexSDK/Sources/Utility/WXDiffUtil.m
Owners: @cxfeng1

[core] fix iOS malloc.h not find
  weex_core/Source/base/string_util.h
Owners: @YorkShen

[core] fix iOS malloc.h not find (#1545)
  weex_core/Source/base/string_util.h
Owners: @YorkShen

* [android] Fix getLanguage
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXLocaleModule.java
Owners: @YorkShen

* [android] Fix getLanguage
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXLocaleModule.java
Owners: @YorkShen

* [android] Fix devtool crash & support resetBridge (#1548)
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXDebugJsBridge.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXDebugConfig.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXJsFunctions.java
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
  weex_core/Source/CMakeLists.txt
  weex_core/Source/android/jniprebuild/jni_files
  weex_core/Source/android/jniprebuild/jni_load.cc
  weex_core/Source/android/jniprebuild/jniheader/WXDebugJsBridge_jni.h
  weex_core/Source/android/wrap/wml_bridge.cpp
  weex_core/Source/android/wrap/wx_debug_js_bridge.cpp
  weex_core/Source/android/wrap/wx_debug_js_bridge.h
Owners: @YorkShen

[core][Android] replace StringCache with JNIEnv::NewStringUTF
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/android/wrap/wx_map.cpp
Owners: @YorkShen

[core][Android] replace StringCache with JNIEnv::NewStringUTF (#1549)
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/android/wrap/wx_map.cpp
Owners: @YorkShen

[WEEX-623][Android] pageName check and revert interaction time top10 logic (#1543)
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @YorkShen

* [android] Update libweexcore.so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXLocaleModule.java
Owners: @YorkShen

performance info is not error, change to debug info
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
Owners: @YorkShen

* [android] Remae to getLanguageSync
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXLocaleModule.java
Owners: @YorkShen

[core] add opcode binary file encode
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.h
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/binary_file.cc
  weex_core/Source/core/data_render/binary_file.h
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/string_table.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @cxfeng1, @YorkShen

[core] fix binary opcode
  weex_core/Source/core/data_render/binary_file.h
Owners: @YorkShen

[core] fix opcode encode
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] fix rax opcode error
  weex_core/Source/core/data_render/exec_state.cc
Owners: @YorkShen

[core]fix opcode encode error
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/string_table.cc
  weex_core/Source/core/data_render/string_table.h
Owners: @YorkShen

[core] fix function opcde error
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/render/page/render_page.cpp
Owners: @YorkShen

[core] support @bidning in classlist
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] support ref in data render vue mode
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] support inline style in data render vue mode
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] fix for statement continue update, add object.keys() function call , fix jsx node property parsing
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/class_object.cc
  weex_core/Source/core/data_render/class_object.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/rax_parser.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] fix iterator1 error
  weex_core/Source/core/data_render/parser.cc
Owners: @YorkShen

[core] nodeId is not ref and is not unique
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vcomponent.cc
  weex_core/Source/core/data_render/vnode/vcomponent.h
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] fix BinaryFile compile error
  weex_core/Source/CMakeLists.txt
Owners: @YorkShen

[core] add event supporting ok
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Events/WXComponent+Events.m
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @cxfeng1, @YorkShen

[core] support class arrow function
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/statement.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen
