Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

[Android] fix appear & disappear problem of items in scroller (#1652)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXScroller.java
Owners: @YorkShen

[Android] fix data not bind when non-recyclable item is lazy in list (#1660)
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/view/listview/adapter/ListBaseViewHolder.java
Owners: @YorkShen

* [android] Support attr controls
  android/sdk/src/main/java/com/taobao/weex/common/Constants.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVideo.java
  android/sdk/src/main/java/com/taobao/weex/ui/view/WXVideoView.java
Owners: @YorkShen

* [android] Rename controls attr
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVideo.java
Owners: @YorkShen

[iOS] treat 750 as container width not device width when rotated or splited in ipad
  ios/playground/WeexDemo/WXDemoViewController.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

* [android] Support attr controls (#1663)
  android/sdk/src/main/java/com/taobao/weex/common/Constants.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVideo.java
  android/sdk/src/main/java/com/taobao/weex/ui/view/WXVideoView.java
Owners: @YorkShen

* [android] Support keyboardSize (#1638)
  android/sdk/src/main/java/com/taobao/weex/ui/component/AbstractEditComponent.java
Owners: @YorkShen

[core] fix ios crash
  weex_core/Source/core/layout/layout.h
Owners: @YorkShen

original project
  ios/playground/WeexDemo.xcodeproj/project.pbxproj
Owners: @cxfeng1

revet project info
  ios/playground/WeexDemo/Info.plist
Owners: @cxfeng1

[iOS] Fix crash if observer is removed twice. Change some variables to static.
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
  ios/sdk/WeexSDK/Sources/Network/WXResourceRequest.m
Owners: @cxfeng1

[iOS] Fix crash if observer is removed twice. Change some variables to static. (#1665)
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Monitor/WXMonitor.m
  ios/sdk/WeexSDK/Sources/Network/WXResourceRequest.m
Owners: @cxfeng1

* [Android] Fix text layout problem
  weex_core/Source/core/layout/layout.cpp
Owners: @YorkShen

* [Android] Fix text layout problem (#1666)
  weex_core/Source/core/layout/layout.cpp
Owners: @YorkShen

[data_render] add support for regex
  android/playground/app/src/main/assets/lite_template/case.js
  weex_core/Source/CMakeLists.txt
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_builder.cc
  weex_core/Source/core/data_render/ast_builder.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/class.cc
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/class_regex.cc
  weex_core/Source/core/data_render/class_regex.h
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/rax_parser.h
  weex_core/Source/core/data_render/token.h
  weex_core/Source/core/data_render/tokenizer.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

* [Android] Fix layout problem for item with position:absolute style and align-item:center in its parent.
  weex_core/Source/core/layout/layout.cpp
  weex_core/Source/core/layout/layout.h
Owners: @YorkShen

* [Android] Fix iconfont refresh problem
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXText.java
Owners: @YorkShen

[iOS] Fix spelling error.
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXHeaderComponent.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

* [Android] Fix layout problem for item with position:absolute style and align-item:center in its parent. (#1667)
  weex_core/Source/core/layout/layout.cpp
  weex_core/Source/core/layout/layout.h
Owners: @YorkShen

* [Android] Fix iconfont refresh problem (#1668)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXText.java
Owners: @YorkShen

* [Android] Fix the problem that changing image.resize in JS doesn't work
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
  android/sdk/src/main/java/com/taobao/weex/ui/view/WXImageView.java
Owners: @YorkShen

* [Android] Fix the problem that changing image.resize in JS doesn't work (#1670)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
  android/sdk/src/main/java/com/taobao/weex/ui/view/WXImageView.java
Owners: @YorkShen

[core] develop exec state section decoding and encoding implementation
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/common_error.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/exec_state_section.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] bugfix dom diff for adding node to root render object
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] bugfix exec state decoding error
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @cxfeng1, @YorkShen

[core] exec state encoding and decoding finally complete
  weex_core/Source/core/data_render/binary_file.cc
  weex_core/Source/core/data_render/binary_file.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/manager/weex_core_manager.h
  weex_core/Source/core/render/manager/render_manager.cpp
Owners: @YorkShen

[core] fixed build error
  weex_core/Source/core/data_render/class_factory.cc
Owners: @YorkShen

[core] bugfix encoding and decoding value ref error, and running closure OK
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_section.cc
Owners: @YorkShen

[core] decrease constants value encoding file size
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/exec_state_section.h
Owners: @YorkShen

[WEEX-648] adjust max collection times to 200
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
Owners: @cxfeng1

[WEEX-648] adjust collection times to 200
  android/sdk/src/main/java/com/taobao/weex/ui/WXRenderManager.java
Owners: @YorkShen

[core] add bit reader and writer, adaptation for linux builder
  weex_core/Source/base/ViewUtils.h
  weex_core/Source/base/string_util.h
  weex_core/Source/base/thread/thread_impl_darwin.cc
  weex_core/Source/core/config/core_environment.cpp
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/string_table.cc
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/layout/layout.cpp
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/layout/style.h
  weex_core/Source/core/render/node/render_list.cpp
  weex_core/Source/core/render/node/render_object.cpp
  weex_core/Source/core/render/node/render_scroller.cpp
  weex_core/Source/core/render/page/render_page.cpp
Owners: @YorkShen

[core] adp linux builder
  weex_core/Source/base/string_util.h
Owners: @YorkShen

[data-render] 修复Android编译环境
  weex_core/Source/CMakeLists.txt
  weex_core/Source/core/data_render/exec_state_binary.cc
Owners: @YorkShen

[core] fix linux builder
  weex_core/Source/base/LogDefines.h
  weex_core/Source/base/thread/thread_impl_darwin.cc
  weex_core/Source/core/css/css_value_getter.cpp
  weex_core/Source/core/data_render/exec_state_binary.cc
Owners: @YorkShen

[core] add encoder compatible version
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_binary.h
Owners: @YorkShen

[core] sdk version modify for defines
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_binary.h
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/exec_state_section.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

fix ios problem after review rtl
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Component/WXTextComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.h
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
  ios/sdk/WeexSDK/Sources/Utility/WXVersion.m
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/render/node/render_scroller.h
Owners: @cxfeng1, @YorkShen

[core] fix build on linux
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_binary.h
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/exec_state_section.h
  weex_core/Source/core/data_render/op_code.h
Owners: @YorkShen

reduce differences
  android/commons/build.gradle
  android/playground/app/src/main/java/com/alibaba/weex/extend/component/WXMask.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXIndicator.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXSlider.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/WXRecyclerTemplateList.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/template/jni/NativeRenderObjectUtils.java
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXDomModule.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXUtils.java
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
  weex_core/Source/core/layout/flex_enum.h
  weex_core/Source/core/layout/layout.cpp
  weex_core/Source/core/layout/layout.h
  weex_core/Source/core/layout/style.cpp
  weex_core/Source/core/layout/style.h
  weex_core/Source/core/render/node/factory/render_object_interface.h
  weex_core/Source/core/render/node/render_list.cpp
  weex_core/Source/core/render/node/render_list.h
  weex_core/Source/core/render/node/render_scroller.cpp
  weex_core/Source/core/render/node/render_scroller.h
  weex_core/debug.sh
Owners: @YorkShen, @cxfeng1
