Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

Add Log And Test MultiProgress
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
  weex_core/Source/core/bridge/script_bridge.h
Owners: @YorkShen

Update Test single Progress only
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
Owners: @YorkShen

fix Singleprocess light app
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

Fixed al And begin to gray
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
Owners: @YorkShen

[WEEX-580][Android]iew key is not unique, RecycleList data repeat render not right,
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @YorkShen

Default progress
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
Owners: @YorkShen

[WEEX-580][Android]View key is not unique, RecycleList data repeat render not right, (#1455)
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @YorkShen

Fix dispatchMessage parmas
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/bridge/platform/android_side.h
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
  weex_core/Source/android/wrap/wml_bridge.cpp
  weex_core/Source/core/bridge/platform_bridge.h
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
Owners: @YorkShen

Fix top crash
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/core/bridge/platform/core_side_in_platform.cpp
Owners: @YorkShen

build: change getDeviceHost servePort
  test/scripts/util.js
Owners: none

[core] Android通过编译,增加testCase
  android/playground/app/src/main/assets/lite_template/case.json
  android/playground/app/src/main/java/com/alibaba/weex/SliceTestActivity.java
  android/sdk/build.gradle
  android/sdk/src/main/java/com/taobao/weex/utils/WXLogUtils.java
  weex_core/Source/CMakeLists.txt
  weex_core/Source/android/jsengine/multiprocess/WeexProxy.cpp
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/rax_parser_builder.cc
  weex_core/Source/core/data_render/rax_parser_context.cc
  weex_core/Source/core/data_render/rax_parser_statistics.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[Core] Refactor. Dom module should call weex core.
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
Owners: @cxfeng1

fix @focus invoked twice
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
Owners: @YorkShen

[core] 修复AST parse对double的解析问题
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_builder.cc
  weex_core/Source/core/data_render/ast_builder.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/monitor/vm_monitor.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] fixed call expression and member expression
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[core] fixed build error
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/rax_parser_builder.cc
Owners: @YorkShen

[iOS] Add enumerate component method. Add event listener for scroller.
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.h
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[core] add array.slice function
  weex_core/Source/core/data_render/class_array.cc
Owners: @YorkShen

[iOS] Add event listener for scroller.
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

Set new thread status
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
Owners: @YorkShen

singleprogress only
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/utils/params_utils.cpp
Owners: @YorkShen

[core] fixed callee expression
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_builder.cc
  weex_core/Source/core/data_render/ast_builder.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/code_generator.cc
Owners: @YorkShen

[core] fix new thread status
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
Owners: @YorkShen

[core] fixed call expression
  weex_core/Source/core/data_render/code_generator.cc
Owners: @YorkShen

[core] 修复各类Array导致的内置函数问题, jsonok
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

* [iOS] fix bug with recycle list can not show correct data.
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
Owners: @cxfeng1

load libweexjss.so failed,error=dlopen failed: library "libJavaScriptCore.so" not found if libweexjss.so and libJavascript.so are not in the same dir
  weex_core/Source/android/bridge/multi_so_initializer.cpp
Owners: @YorkShen

Clear _fixedComponents when unload. Clear weex core objects when dom module's destroy instance is called.
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
Owners: @cxfeng1

Add event listener scroller, add enumerate component method. (#1458)
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.h
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

Try fix libJavaScriptCore.so not found crash
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXFileUtils.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXSoInstallMgrSdk.java
Owners: @YorkShen

Try fix libJavaScriptCore.so not found crash
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXFileUtils.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXSoInstallMgrSdk.java
Owners: @YorkShen

[WEEX-583][iOS] add fields for monitor
  ios/playground/WeexDemo/extend/handler/WXApmImpl.m
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/WXEmbedComponent.m
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Module/WXTimerModule.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXInstanceApm.m
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

[WEEX-583][iOS] add fields for monitor (#1462)
  ios/playground/WeexDemo/extend/handler/WXApmImpl.m
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Component/WXEmbedComponent.m
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance_performance.m
  ios/sdk/WeexSDK/Sources/Module/WXTimerModule.m
  ios/sdk/WeexSDK/Sources/Performance/WXApmForInstance.h
  ios/sdk/WeexSDK/Sources/Performance/WXInstanceApm.m
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

[core] fixed ref and childrens call
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/rax_jsx_ast.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

* [iOS] bugfix with default template can not show
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListComponent.mm
Owners: @cxfeng1

[WEEX-577][iOS] refactoring recycle list's data structure and bug-fix (#1453)
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXCellSlotComponent.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListComponent.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListDataManager.h
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListDataManager.m
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Display/WXComponent+Display.m
  ios/sdk/WeexSDK/Sources/Events/WXComponent+Events.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
Owners: @cxfeng1

[core] rax js running and debug fixed
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_array.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/object.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/rax_parser.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] only left one question to call body, other fixing
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] running rax ok and bugfix
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] add comment for span add string children
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen
