Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen

* [iOS] make 'video' and 'videoplus' support border radius
  ios/sdk/WeexSDK/Sources/Component/WXVideoComponent.m
  ios/sdk/WeexSDK/Sources/Display/WXComponent+Display.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.h
Owners: @cxfeng1

* [iOS] make 'video' and 'videoplus' support border radius (#1447)
  ios/sdk/WeexSDK/Sources/Component/WXVideoComponent.m
  ios/sdk/WeexSDK/Sources/Display/WXComponent+Display.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.h
Owners: @cxfeng1

[Core] Refactor. Fix crash if WXComponent is not synchronized with underneath RenderObjects.
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListComponent.mm
  ios/sdk/WeexSDK/Sources/Component/Recycler/WXRecyclerComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXLoadingComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXRefreshComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/render/page/render_page.cpp
Owners: @cxfeng1, @YorkShen

[core] new jss so which merge jss code
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/include/WeexApiHeader.h
Owners: @YorkShen

[Core] Refactor. Do not set measure function to nullptr which will cause tree be set dirty.
  ios/sdk/WeexSDK/Sources/Layout/WXComponent+Layout.mm
Owners: @cxfeng1

[jsfm] upgrade js framework to v0.27.6 | remove Object.create(null)
  android/sdk/assets/weex-main-jsfm.js
  package.json
  pre-build/weex-main-jsfm.js
  runtime/api/WeexInstance.js
Owners: @YorkShen, @Hanks10100

[Android] fix ListComponent pagingEnabled bug
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
Owners: @YorkShen

[Android] Add setTextColor for WXTextView
  android/sdk/src/main/java/com/taobao/weex/ui/view/WXTextView.java
Owners: @YorkShen

[Core] Refactor. Fix coordinate transform.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  weex_core/Source/core/render/manager/render_manager.cpp
  weex_core/Source/core/render/manager/render_manager.h
Owners: @cxfeng1, @YorkShen

[WEEX-577][iOS] refactoring recycle list's data structure and fix v-if can not show in recycle list
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListComponent.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListDataManager.h
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListDataManager.m
  ios/sdk/WeexSDK/Sources/Events/WXComponent+Events.m
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
Owners: @cxfeng1

* [iOS] improve recycle list's query methods and fix typo mistake
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXCellSlotComponent.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXRecycleListComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
Owners: @cxfeng1

[core] update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
Owners: @YorkShen

* [iOS] fix video component border radius with bottom-right mistake
  ios/sdk/WeexSDK/Sources/Display/WXComponent+Display.m
Owners: @cxfeng1

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update SO
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so, light app can’t click anything
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so lightApp holder may be null
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Add enumerate methods of components. Add event listener for scroller.
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.h
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @cxfeng1

[WEEX-578][Android] edit performance point
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionCreateBody.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionCreateFinish.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Block argument naming
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.h
Owners: @cxfeng1

Update so for testing light app
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
  android/sdk/src/main/java/com/taobao/weex/bridge/WXParams.java
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[WEEX-578][Android] edit performance point (#1454)
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceExceptionRecord.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionCreateBody.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionCreateFinish.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXVContainer.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[core] separate array and table
  weex_core/Source/core/data_render/class.cc
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_array.h
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] build OK
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_array.h
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[core] Fixed GetArray And SetArray
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_array.h
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

Update so
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen
