Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

Add support auto-capitalization-type for WXEditComponent
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Component/WXEditComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXTextAreaComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXTextInputComponent.m
  ios/sdk/WeexSDK/Sources/Utility/WXConvert.h
  ios/sdk/WeexSDK/Sources/Utility/WXConvert.m
  ios/sdk/WeexSDK/Sources/Utility/WXVersion.m
Owners: @cxfeng1

[core] bugfix supporting function varying parameter
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
Owners: @YorkShen

[core] fix use c++_static compile error on Android
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
Owners: @YorkShen

[core] fix use c++_static compile error on Android (#1593)
  weex_core/Source/android/jsengine/multiprocess/WeexJSConnection.cpp
Owners: @YorkShen

[android] fix x86 and Android 4.1 crash
  android/sdk/libs/x86/libweexjsb.so
  android/sdk/libs/x86/libweexjss.so
  android/sdk/libs/x86/libweexjst.so
  android/sdk/src/main/java/com/taobao/weex/WXEnvironment.java
Owners: @YorkShen

[android] fix text rtl
  android/sdk/src/main/java/com/taobao/weex/layout/measurefunc/TextContentBoxMeasurement.java
Owners: @YorkShen

[android] fix 4.1 crash
  android/sdk/libs/x86/libweexjsb.so
  android/sdk/libs/x86/libweexjss.so
  android/sdk/libs/x86/libweexjst.so
Owners: @YorkShen

[core] bugfix add utf8 decode for string tokenizer parsing
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/class_string.h
  weex_core/Source/core/data_render/tokenizer.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

[core] data_render output error log
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  weex_core/Source/core/data_render/binary_file.cc
  weex_core/Source/core/data_render/common_error.h
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @cxfeng1, @YorkShen

[core] fix event invalid in opcode
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[core] opcode supprot big endian
  weex_core/Source/core/data_render/binary_file.cc
  weex_core/Source/core/data_render/binary_file.h
Owners: @YorkShen

[core] modify int to int32_t and unsigned to u_int32_t
  weex_core/Source/core/data_render/exec_state.cc
Owners: @YorkShen

[iOS] Project fix, remove invalid files.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[iOS] Project fix, remove invalid files. (#1601)
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
Owners: @cxfeng1

[core] add argc in opcode
  weex_core/Source/core/data_render/exec_state.cc
Owners: @YorkShen

[Core] Refactor. Remove useless "_isNeedJoinLayoutSystem".
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXCellSlotComponent.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXHeaderComponent.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/View/WXComponent+ViewManagement.mm
Owners: @cxfeng1

[Core] Refactor. div inside list, we add div to subcomponents of list, but do not display it.
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
  ios/sdk/WeexSDK/Sources/View/WXComponent+ViewManagement.mm
Owners: @cxfeng1

[WEEX-637][Android] merge jss.so merge jss.so to fix recycle-list problems Bug: WEEX-637
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

Fix div in list which cause weexcore render objects not ordered. (#1602)
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXCellSlotComponent.mm
  ios/sdk/WeexSDK/Sources/Component/RecycleList/WXComponent+DataBinding.mm
  ios/sdk/WeexSDK/Sources/Component/WXCellComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXComponent_internal.h
  ios/sdk/WeexSDK/Sources/Component/WXHeaderComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
  ios/sdk/WeexSDK/Sources/Model/WXComponent.mm
  ios/sdk/WeexSDK/Sources/View/WXComponent+ViewManagement.mm
Owners: @cxfeng1

[WEEX-637][Android] merge jss.so (#1603)
  android/sdk/libs/armeabi-v7a/libweexjss.so
  android/sdk/libs/armeabi/libweexjss.so
Owners: @YorkShen

[core][Android] fix thread block when nested sync method to JSS in JS Thread
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/src/main/java/com/taobao/weex/bridge/ResultCallback.java
  android/sdk/src/main/java/com/taobao/weex/bridge/ResultCallbackManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  weex_core/Source/IPC/IPCMessageJS.h
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/bridge/platform/android_side.h
  weex_core/Source/android/bridge/script/script_side_in_multi_process.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_process.h
  weex_core/Source/android/bridge/script/script_side_in_multi_so.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_so.h
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/android/jniprebuild/jniheader/WXBridge_jni.h
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/android/wrap/wx_bridge.h
  weex_core/Source/core/bridge/platform/core_side_in_platform.cpp
  weex_core/Source/core/bridge/platform/core_side_in_platform.h
  weex_core/Source/core/bridge/platform_bridge.h
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
  weex_core/Source/core/bridge/script/core_side_in_script.h
  weex_core/Source/core/bridge/script_bridge.h
  weex_core/Source/include/WeexApiHeader.h
Owners: @YorkShen

[core][Android] fix thread block when nested sync method to JSS in JS Thread (#1600)
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/src/main/java/com/taobao/weex/bridge/ResultCallback.java
  android/sdk/src/main/java/com/taobao/weex/bridge/ResultCallbackManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridge.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  weex_core/Source/IPC/IPCMessageJS.h
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/bridge/platform/android_side.h
  weex_core/Source/android/bridge/script/script_side_in_multi_process.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_process.h
  weex_core/Source/android/bridge/script/script_side_in_multi_so.cpp
  weex_core/Source/android/bridge/script/script_side_in_multi_so.h
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
  weex_core/Source/android/bridge/script_bridge_in_multi_so.cpp
  weex_core/Source/android/jniprebuild/jniheader/WXBridge_jni.h
  weex_core/Source/android/wrap/wx_bridge.cpp
  weex_core/Source/android/wrap/wx_bridge.h
  weex_core/Source/core/bridge/platform/core_side_in_platform.cpp
  weex_core/Source/core/bridge/platform/core_side_in_platform.h
  weex_core/Source/core/bridge/platform_bridge.h
  weex_core/Source/core/bridge/script/core_side_in_script.cpp
  weex_core/Source/core/bridge/script/core_side_in_script.h
  weex_core/Source/core/bridge/script_bridge.h
  weex_core/Source/include/WeexApiHeader.h
Owners: @YorkShen

[iOS] Add __enable_native_promise__ & __enable_native_timer__ to WXEnvironment.
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.h
  ios/sdk/WeexSDK/Sources/Utility/WXUtility.m
Owners: @cxfeng1

[WEEX-638][Android] fix attacheCurrentThread crash fix attacheCurrentThread crash Bug: WEEX-638
  weex_core/Source/android/base/jni/android_jni.cpp
Owners: @YorkShen

[WEEX-638][Android] fix attacheCurrentThread crash (#1606)
  weex_core/Source/android/base/jni/android_jni.cpp
Owners: @YorkShen

make APP not crash when onRootCreated called twice, this crash is collected from Crashlytics
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
Owners: @YorkShen

fix dom leak when set font family in text style
  android/sdk/src/main/java/com/taobao/weex/dom/WXTextDomObject.java
  android/sdk/src/main/java/com/taobao/weex/utils/TypefaceUtil.java
Owners: @YorkShen

add function findModule in WXModuleManager so that we can get module of current wxInstance in Java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXModuleManager.java
Owners: @YorkShen

[WEEX-639][iOS] fix input component can not limit words number correctly
  ios/sdk/WeexSDK/Sources/Component/WXEditComponent.mm
Owners: @cxfeng1

[jsfm] decide whether to use promise polyfill by environment variable
  runtime/shared/index.js
  runtime/shared/polyfill/promise.js
Owners: @Hanks10100

* [android] Support miniapp debug
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  weex_core/Source/android/wrap/wml_bridge.cpp
Owners: @YorkShen

* [android] Update so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

* [android] Support miniapp debug (#1610)
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
  android/sdk/src/main/java/com/taobao/weex/common/IWXBridge.java
  weex_core/Source/android/wrap/wml_bridge.cpp
Owners: @YorkShen

[jsfm] upgrade js framework to v0.29.0
  android/sdk/assets/weex-main-jsfm.js
  package.json
  pre-build/weex-main-jsfm.js
Owners: @YorkShen

[jsfm] decide whether to use promise polyfill by environment variable (#1609)
  runtime/shared/index.js
  runtime/shared/polyfill/promise.js
Owners: @Hanks10100

[core] release char* to jni after using
  weex_core/Source/android/base/string/string_utils.h
  weex_core/Source/android/wrap/wx_bridge.cpp
Owners: @YorkShen

[core] release char* to jni after using (#1612)
  weex_core/Source/android/base/string/string_utils.h
  weex_core/Source/android/wrap/wx_bridge.cpp
Owners: @YorkShen

[core] bugfix ' ' url_encode => '%20'
  weex_core/Source/core/data_render/class_string.cc
Owners: @YorkShen

[core] bugfix supporting function varying parameter
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
Owners: @YorkShen

[core] bugfix add utf8 decode for string tokenizer parsing
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/class_string.h
  weex_core/Source/core/data_render/tokenizer.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
