Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @cxfeng1, @Hanks10100

[ios] fix ios slider bug after merged master
  ios/playground/WeexDemo.xcodeproj/project.pbxproj
  ios/playground/WeexDemo/Info.plist
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
Owners: @cxfeng1

build .so
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @YorkShen

[iOS] avoid RTL code when enableRTLLayoutDirection
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
  ios/sdk/WeexSDK/Sources/Component/WXScrollerComponent.mm
Owners: @cxfeng1

revet project change
  ios/playground/WeexDemo.xcodeproj/project.pbxproj
Owners: @cxfeng1

[core] encoding and decoding bits stream OK
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/exec_state_section.h
  weex_core/Source/core/data_render/op_code.cc
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[core] remove debug code
  weex_core/Source/core/data_render/exec_state_section.cc
Owners: @YorkShen

[core] fix linux header build
  ios/playground/WeexDemo.xcodeproj/project.pbxproj
  weex_core/Source/core/data_render/op_code.h
Owners: @cxfeng1, @YorkShen

[WEEX-648][iOS] optimize code batch operations commit
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
Owners: @cxfeng1

[WEEX-648][iOS] try to reduce the dispatch count for main thread
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
Owners: @cxfeng1

[core] remove debug code
  weex_core/Source/core/data_render/exec_state_section.cc
Owners: @YorkShen

[core] add compile error for line and col
  weex_core/Source/core/data_render/common_error.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @YorkShen

[core] supporting jsx element ...spread property
  weex_core/Source/core/data_render/rax_parser.cc
Owners: @YorkShen

[core] compile supporting arrow function with no args
  weex_core/Source/core/data_render/rax_parser.cc
Owners: @YorkShen

* [Android] Change NestedInstance in WXEmbed to protected for sub-class to override.
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXEmbed.java
Owners: @YorkShen

[core] add typeof defines
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/rax_jsx_ast.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

reboot jsc engine if there is no view add to container after 5s
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

Change default timeout to public
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[core] bugfix a && b && c or a || b || c, json parsing failed return undefined, add op typeof
  weex_core/Source/core/data_render/class_json.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/vm.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
Owners: @YorkShen

Set reboot jsengine switch on
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @YorkShen

[data-render] 增加对switch语句的支持
  android/playground/app/src/main/assets/lite_template/case.js
  weex_core/Source/CMakeLists.txt
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_builder.cc
  weex_core/Source/core/data_render/ast_builder.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/rax_parser.cc
  weex_core/Source/core/data_render/rax_parser.h
  weex_core/Source/core/data_render/statement.h
  weex_core/Source/core/data_render/token.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[core] modify new expression, add args for new expression
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/ast_builder.cc
  weex_core/Source/core/data_render/ast_builder.h
  weex_core/Source/core/data_render/ast_factory.cc
  weex_core/Source/core/data_render/ast_factory.h
  weex_core/Source/core/data_render/rax_jsx_ast.cc
Owners: @YorkShen

[core] add new expression constractor
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/rax_jsx_ast.h
  weex_core/Source/core/data_render/rax_parser.cc
Owners: @YorkShen

* [release] change the version number
  android/sdk/build.gradle
  ios/sdk/WeexSDK/Sources/Utility/WXDefine.h
Owners: @YorkShen, @cxfeng1

If context is not wxactivity, throw a exception to this instance
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
Owners: @YorkShen

[iOS] fix image slide bug
  ios/sdk/WeexSDK/Sources/Component/WXImageComponent.m
  ios/sdk/WeexSDK/Sources/Protocol/WXImgLoaderProtocol.h
Owners: @cxfeng1

修复当数据改变时index无效
  ios/sdk/WeexSDK/Sources/Component/WXCycleSliderComponent.mm
Owners: @cxfeng1

[core] add OP_CONSTRUCTOR after OP_NEW
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/class.cc
  weex_core/Source/core/data_render/class.h
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/code_generator.h
  weex_core/Source/core/data_render/op_code.h
  weex_core/Source/core/data_render/rax_jsx_ast.cc
  weex_core/Source/core/data_render/rax_jsx_ast.h
  weex_core/Source/core/data_render/vm.cc
Owners: @YorkShen

[core] add vcomponent diff
  weex_core/Source/core/data_render/ast.h
  weex_core/Source/core/data_render/class_array.cc
  weex_core/Source/core/data_render/class_json.cc
  weex_core/Source/core/data_render/class_object.cc
  weex_core/Source/core/data_render/class_string.cc
  weex_core/Source/core/data_render/code_generator.cc
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state.h
  weex_core/Source/core/data_render/object.h
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/string_table.h
  weex_core/Source/core/data_render/table.cc
  weex_core/Source/core/data_render/vnode/vcomponent.cc
  weex_core/Source/core/data_render/vnode/vcomponent.h
  weex_core/Source/core/data_render/vnode/vnode.cc
  weex_core/Source/core/data_render/vnode/vnode.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @YorkShen

[core] add console class function
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXCoreBridge.mm
  weex_core/Source/core/data_render/class_console.cc
  weex_core/Source/core/data_render/class_console.h
  weex_core/Source/core/data_render/class_factory.cc
  weex_core/Source/core/data_render/class_factory.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_render_context.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
  weex_core/Source/core/data_render/vnode/vnode_render_manager.h
Owners: @cxfeng1, @YorkShen

[core] rm repeat code
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
Owners: @YorkShen

[core] rm repeat code (#1700)
  weex_core/Source/android/bridge/script_bridge_in_multi_process.cpp
Owners: @YorkShen

[core] support component ref finder
  weex_core/Source/core/data_render/parser.cc
  weex_core/Source/core/data_render/vnode/vcomponent.cc
  weex_core/Source/core/data_render/vnode/vcomponent.h
  weex_core/Source/core/data_render/vnode/vnode.h
Owners: @YorkShen

update max times to 2000
  android/sdk/src/main/java/com/taobao/weex/ui/WXRenderManager.java
Owners: @YorkShen

[data-render] console support in android
  android/playground/app/src/main/assets/lite_template/case.js
  weex_core/Source/CMakeLists.txt
  weex_core/Source/core/data_render/class_console.cc
Owners: @YorkShen

check args, project null value
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXDomModule.java
Owners: @YorkShen

[core] restore code
  ios/playground/WeexDemo.xcodeproj/project.pbxproj
Owners: @cxfeng1

[WEEX-612][android] Fixed after input component default set a string on android platform, and then remove it, not trigger input event. (#1522)
  android/sdk/src/main/java/com/taobao/weex/ui/component/AbstractEditComponent.java
Owners: @YorkShen

[WEEX-648][Android]native batch for dom operations generating from JavaScript (#1647)
  android/sdk/src/main/java/com/taobao/weex/ui/WXRenderManager.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/BasicGraphicAction.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionBatchAction.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionBatchBegin.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionBatchEnd.java
  android/sdk/src/main/java/com/taobao/weex/ui/module/WXDomModule.java
Owners: @YorkShen

[core][data_render] support class binding
  weex_core/Source/core/data_render/parser.cc
Owners: @YorkShen

[WEEX-648][iOS]native batch for dom operations generating from JavaScript (#1644)
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.h
  ios/sdk/WeexSDK/Sources/Manager/WXComponentManager.mm
  ios/sdk/WeexSDK/Sources/Module/WXDomModule.m
Owners: @cxfeng1

.github/CODEOWNERS:

android/ @YorkShen
ios/ @cxfeng1
runtime/ @Hanks10100
weex_core @YorkShen
