Repository apache/incubator-weex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YorkShen, @wqyfavor, @gubaojian, @Darin726, @Hanks10100, @alwaysfight

[WEEX-657][iOS] Add a feature to control the offset of list attach to the bottom`
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
Owners: @wqyfavor

[WEEX-668][Android] errorCode type edit (-2013 is a js exception)
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
Owners: @gubaojian, @YorkShen, @Darin726

[WEEX-668][Android] errorCode type edit (-2013 is a js exception) (#1814)
  android/sdk/src/main/java/com/taobao/weex/common/WXErrorCode.java
Owners: @gubaojian, @YorkShen, @Darin726

[WEEX-657][iOS] Add a feature to control the offset of list attach to the bottom` (#1813)
  ios/sdk/WeexSDK/Sources/Component/WXListComponent.mm
Owners: @wqyfavor

* [Android] Fix Jacoco problem
  android/sdk/build.gradle
Owners: @gubaojian, @YorkShen, @Darin726

[android] fix slider crash when adapter is null
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionLayout.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXSlider.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
  android/sdk/src/test/java/com/taobao/weex/ui/component/ComponentTest.java
Owners: @gubaojian, @YorkShen, @Darin726

[android] fix slider crash when adapter is null (#1816)
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionLayout.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXSlider.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/list/BasicListComponent.java
  android/sdk/src/test/java/com/taobao/weex/ui/component/ComponentTest.java
Owners: @gubaojian, @YorkShen, @Darin726

[iOS] Remove multicontext switch.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXSDKManager.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @wqyfavor

[iOS] Remove multicontext switch.
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXSDKManager.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @wqyfavor

Some Emoji emotion not Show On Android 9.0 (#1804)
  weex_core/Source/wson/wson_util.cpp
Owners: @YorkShen, @Darin726, @alwaysfight

[iOS] For normal instance, do not create default jscontext which will be deallocated soon.
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @wqyfavor

Fix multicontext recreate (#1818)
  ios/sdk/WeexSDK.xcodeproj/project.pbxproj
  ios/sdk/WeexSDK/Sources/Bridge/WXBridgeContext.m
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.h
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Engine/WXSDKEngine.m
  ios/sdk/WeexSDK/Sources/Manager/WXSDKManager.h
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
Owners: @wqyfavor

[iOS] Use libc++.
  WeexSDK.podspec
Owners: @YorkShen, @wqyfavor

[iOS] Use libc++. (#1819)
  WeexSDK.podspec
Owners: @YorkShen, @wqyfavor

[Android] support for hot updates under specified ports
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
Owners: @gubaojian, @YorkShen, @Darin726

[iOS] Use libc++. (#1819)
  WeexSDK.podspec
Owners: @YorkShen, @wqyfavor

[iOS] Release jscontext in bridge thread to avoid main thread deadlock.
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.h
Owners: @wqyfavor

[iOS] Release jscontext in bridge thread to avoid main thread deadlock. (#1822)
  ios/sdk/WeexSDK/Sources/Bridge/WXJSCoreBridge.mm
  ios/sdk/WeexSDK/Sources/Manager/WXBridgeManager.h
Owners: @wqyfavor

[Android] support for hot updates under specified ports
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
Owners: @gubaojian, @YorkShen, @Darin726

[Android] fix WXpageActivity class on playground app
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
Owners: @gubaojian, @YorkShen, @Darin726

[Android] replace IWXDebugProxy as WXSDKInstance class
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
Owners: @gubaojian, @YorkShen, @Darin726

[Android] replace IWXDebugProxy as WXSDKInstance class (#1825)
  android/playground/app/src/main/java/com/alibaba/weex/WXPageActivity.java
Owners: @gubaojian, @YorkShen, @Darin726

[core] add script section in opcode file
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/exec_state_section.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.h
  weex_core/Source/core/data_render/vnode/vnode_render_context.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @wqyfavor, @YorkShen

[core] add script section in opcode file (#1827)
  ios/sdk/WeexSDK/Sources/Model/WXSDKInstance.m
  weex_core/Source/core/data_render/exec_state.cc
  weex_core/Source/core/data_render/exec_state_binary.cc
  weex_core/Source/core/data_render/exec_state_section.cc
  weex_core/Source/core/data_render/exec_state_section.h
  weex_core/Source/core/data_render/vnode/vnode_exec_env.cc
  weex_core/Source/core/data_render/vnode/vnode_exec_env.h
  weex_core/Source/core/data_render/vnode/vnode_render_context.h
  weex_core/Source/core/data_render/vnode/vnode_render_manager.cc
Owners: @wqyfavor, @YorkShen

* [Android] Remove libweexcore from git
  android/sdk/.gitignore
  android/sdk/build.gradle
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @gubaojian, @YorkShen, @Darin726

* [Android] Remove libweexcore from git (#1830)
  android/sdk/.gitignore
  android/sdk/build.gradle
  android/sdk/libs/armeabi-v7a/libweexcore.so
  android/sdk/libs/armeabi/libweexcore.so
  android/sdk/libs/x86/libweexcore.so
Owners: @gubaojian, @YorkShen, @Darin726

Fixed minor grammatical errors and typos.
  HOW-TO-BUILD.md
Owners: @YorkShen, @wqyfavor

Do nothing if attachThread failed
  weex_core/Source/android/base/jni/android_jni.cpp
  weex_core/Source/android/base/jni/scoped_java_ref.cpp
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/utils/cache_utils.cpp
  weex_core/Source/base/message_loop/message_pump_android.cc
Owners: @YorkShen, @Darin726, @alwaysfight

Change a way to set jsc reboot info
  android/sdk/src/main/java/com/taobao/weex/InitConfig.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @gubaojian, @YorkShen, @Darin726

Update file
  android/sdk/src/main/java/com/taobao/weex/adapter/IWXJscProcessManager.java
Owners: @gubaojian, @YorkShen, @Darin726

Set Instance has exception true if exception occurs
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @gubaojian, @YorkShen, @Darin726

Return initConfig with builder
  android/sdk/src/main/java/com/taobao/weex/InitConfig.java
Owners: @gubaojian, @YorkShen, @Darin726

* [Android] edit interaction logic && edit exception report logic
  android/playground/app/src/main/java/com/alibaba/weex/extend/adapter/WXInstanceApmAdapter.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/performance/IWXApmMonitorAdapter.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionAddElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/view/WXFrameLayout.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @gubaojian, @YorkShen, @Darin726

*[Android] update for weex dev-tool - transfer peformance info to devtool - show interactionView - add log switch of jsengin/jsfm/weexcore ,to analyze interactionTime - for large img，log url，size
  android/playground/app/src/main/java/com/alibaba/weex/WXApplication.java
  android/playground/app/src/main/java/com/alibaba/weex/extend/adapter/WXAnalyzerDemoListener.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/NativeInvokeHelper.java
  android/sdk/src/main/java/com/taobao/weex/bridge/SimpleJSCallback.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXAnalyzerDataTransfer.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionAddElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
  weex_core/Source/core/config/core_environment.cpp
  weex_core/Source/core/config/core_environment.h
  weex_core/Source/core/render/page/render_page.cpp
Owners: @gubaojian, @YorkShen, @Darin726

* [Android] edit interaction logic && edit exception report logic (#1835)
  android/playground/app/src/main/java/com/alibaba/weex/extend/adapter/WXInstanceApmAdapter.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
  android/sdk/src/main/java/com/taobao/weex/performance/IWXApmMonitorAdapter.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionAddElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXComponent.java
  android/sdk/src/main/java/com/taobao/weex/ui/view/WXFrameLayout.java
  android/sdk/src/main/java/com/taobao/weex/utils/WXExceptionUtils.java
Owners: @gubaojian, @YorkShen, @Darin726

* [Android] update for weex dev-tool (#1836)
  android/playground/app/src/main/java/com/alibaba/weex/WXApplication.java
  android/playground/app/src/main/java/com/alibaba/weex/extend/adapter/WXAnalyzerDemoListener.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/bridge/NativeInvokeHelper.java
  android/sdk/src/main/java/com/taobao/weex/bridge/SimpleJSCallback.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXAnalyzerDataTransfer.java
  android/sdk/src/main/java/com/taobao/weex/performance/WXInstanceApm.java
  android/sdk/src/main/java/com/taobao/weex/ui/action/GraphicActionAddElement.java
  android/sdk/src/main/java/com/taobao/weex/ui/component/WXImage.java
  weex_core/Source/core/config/core_environment.cpp
  weex_core/Source/core/config/core_environment.h
  weex_core/Source/core/render/page/render_page.cpp
Owners: @gubaojian, @YorkShen, @Darin726

Do not print log if msg is null
  android/sdk/src/main/java/com/taobao/weex/utils/WXLogUtils.java
Owners: @gubaojian, @YorkShen, @Darin726

Do not print log if msg is null (#1838)
  android/sdk/src/main/java/com/taobao/weex/utils/WXLogUtils.java
Owners: @gubaojian, @YorkShen, @Darin726

* [Core] Do nothing if attachThread failed (#1833)
  weex_core/Source/android/base/jni/android_jni.cpp
  weex_core/Source/android/base/jni/scoped_java_ref.cpp
  weex_core/Source/android/bridge/platform/android_side.cpp
  weex_core/Source/android/utils/cache_utils.cpp
  weex_core/Source/base/message_loop/message_pump_android.cc
Owners: @YorkShen, @Darin726, @alwaysfight

*[Android] add jsc adapter to control jsc process reboot
  android/sdk/src/main/java/com/taobao/weex/InitConfig.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKInstance.java
  android/sdk/src/main/java/com/taobao/weex/WXSDKManager.java
  android/sdk/src/main/java/com/taobao/weex/adapter/IWXJscProcessManager.java
  android/sdk/src/main/java/com/taobao/weex/bridge/WXBridgeManager.java
Owners: @gubaojian, @YorkShen, @Darin726

.github/CODEOWNERS:

* @YorkShen @wqyfavor

/android/ @gubaojian @YorkShen @Darin726

/ios/ @wqyfavor

/runtime/ @Hanks10100

/weex_core/ @YorkShen @Darin726 @alwaysfight

/weex_core/Source/core/ @YorkShen
